@model AMS.Models.CustomModels.EstimationInfoForMemo
<div class="card border-secondary mb-4">
    <div class="card-header hideShow"><b>Budget-Settlement Summary</b></div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm table-hover table-bordered" style="float:left">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center" scope="col">Total Budget </th>
                        <th class="text-center" scope="col">
                            Total Allowed Budget (TK.)
                            <hr />(Total Budget - SCM,CRA & TA/DA Budget)
                        </th>
                        <th class="text-center" scope="col">Total Cost (TK.)</th>
                        <th class="text-center" scope="col">Deviation</th>
                        <th class="text-center" scope="col">Percentage(%)</th>
                    </tr>
                    <tr>
                        <td id="budget" class="text-center" scope="col" hidden>@Model.EstimaionTotalPrice</td>
                        <td id="allowable" class="text-center" scope="col" hidden>@Model.AllowableBudget</td>
                        <td id="cost" class="text-center" scope="col" hidden>@Model.TotalCost</td>
                        <td id="deviation" class="text-center" scope="col" hidden>@Model.Deviation</td>

                        <td class="text-center" scope="col"><span id="strbudget"></span></td>
                        <td class="text-center" scope="col"><span id="strallowable"></span></td>
                        <td class="text-center" scope="col"><span id="strcost"></span></td>
                        <td class="text-center" scope="col"><span id="strdeviation"></span></td>
                        <td class="text-center" scope="col">@Model.Percentage.ToString("#.##") %</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>