@model AMS.Models.CustomModels.EstimationInfoForMemo

<div class="card border-secondary mb-4">
    <div class="card-header hideShow"><b>Memo Details </b></div>
    <div class="card-body">
        <div class="container-fluid" id="memoDetailsForm">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label-sm">Remarks<i class="requiredStart" style="color:red"></i></label>
                <div class="col-sm-10">
                    <textarea id="justificationId">@Model.Justification</textarea>
                </div>
            </div>
            <div class="form-group row" id="attachmentSection">
                <label for="estimationfiles" class="col-sm-2 col-form-label-sm">Attachments</label>
                <div class="col-sm-4">
                    <input type="file" class="form-control" id="estimationfiles" name="attachedFiles" multiple />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <ul id="attachmentsTableNew"></ul>
                </div>
                <div class="col-sm-8">
                    @if (@Model.EstimateMemoAttachments != null)
                    {
                        <ol>
                            @foreach (var _file in @Model.EstimateMemoAttachments)
                            {
                                <li id="liAttach' + x + '">
                                    <a href="@_file.URL" download><i class="fa fa-download" aria-hidden="true"></i> @_file.FileName</a>
                                    @if (@Model.CanDeleteAttachments)
                                    {
                                        <span id="@_file.Id" class="removeAttachServer" style="font-size:15px;cursor:pointer">&#10060;</span>
                                    }
                                </li>
                            }
                        </ol>
                    }
                </div>
            </div>
        </div>
    </div>
</div>