@model IEnumerable<AMS.Models.ServiceModels.BudgetEstimate.EstimateEditVM>
@using AMS.Models.ServiceModels.BudgetEstimate
@using AMS.Models.DomainModels
@using AMS.Models.CustomModels
@using System.Globalization;
@using AMS.Common.Helpers
@{
    ViewData["Title"] = "RunningBoard";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header">
        <label> Rejected Budget Estimation Status Board</label>
        <a id="btnDownloadExcelReport" href="/ReportGenarator/RejectEstimateReport" class="btn btn-info float-right">
            <span class="icon text-gray-100">
                <i class="fas fa-download"></i>
            </span>
        </a>
    </div>
    <div class="card-body">
        <table style="font-weight: 400;" class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info">
            <thead class="thead-dark">
                <tr>
                    <th>Budget Detail</th>
                    <th>Creation Details</th>
                    <th>Status</th>
                    <th>Work Flow</th>
                    <th></th>
                    @*<th>Action</th>*@
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var item in Model)
                {
                    <tr class="text-left">
                        <td class="text-left">
                            <div class="card" @*style="width: 18rem;"*@>
                                <div class="card-header">
                                    <b>Identity : <mark> @item.EstimationIdentity </mark> </b>
                                </div>
                                <div class="card-header">
                                    <b>Budget :</b> @item.Subject
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><b>Start Date :</b> @item.PlanStartDate.ToString("d")</li>
                                    <li class="list-group-item"><b>End Date :</b> @item.PlanEndDate.ToString("d")</li>
                                    <li class="list-group-item"><b>Total Budget Price :</b> @item.TotalPrice.ToString()  @Utility.CurrencyTypeConvertToStringFormat(item.CurrencyType)</li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><b>Creator Name:</b> @item.CreatedBy.First_Name @item.CreatedBy.Last_Name</li>
                                <li class="list-group-item"><b>Creator Username:</b> @item.CreatedBy.Username</li>
                                <li class="list-group-item"><b>Creation Date :</b> @item.CreatedTime.ToString("d")</li>
                            </ul>
                        </td>

                        <td> <button type="button" class="btn btn-outline-danger">Rejected</button> </td>
                        <td class="text-left">
                            @{
                                var lastItem = item.EstimateApproverList.Last();
                            }
                            @foreach (EstimateApproverVM approverVM in item.EstimateApproverList.OrderByDescending(x => x.Priority).ToList())
                            {
                                if (approverVM.Status == BaseEntity.EntityStatus.Completed.ToString())
                                {
                                    <div style="padding: 5px;display: inline-block">
                                        <button type="button" class="btn btn-success" data-toggle="tooltip" title="@approverVM.UserFullName Response:@approverVM.ResponseTime">
                                            @approverVM.UserName
                                        </button>
                                    </div>
                                    
                                }
                                else if (approverVM.Status == BaseEntity.EntityStatus.Pending.ToString())
                                {
                                <div style="padding: 5px;display: inline-block">
                                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="@approverVM.UserFullName">
                                        @approverVM.UserName
                                    </button>
                                </div>
                                    
                                }
                                else if (approverVM.Status == BaseEntity.EntityStatus.CR.ToString())
                                {
                                    <div style="padding: 5px;display: inline-block">
                                        <button type="button" class="btn btn-warning" data-toggle="tooltip" title="@approverVM.UserFullName">
                                            @approverVM.UserName
                                        </button>
                                    </div>
                                    
                                }
                                else if (approverVM.Status == BaseEntity.EntityStatus.Reject.ToString())
                                {
                                    <div style="padding: 5px;display: inline-block">
                                        <button type="button" class="btn btn-danger" data-toggle="tooltip" title="@approverVM.UserFullName Response:@approverVM.ResponseTime">
                                            @approverVM.UserName
                                        </button>
                                    </div>                                    
                                }
                                if (!approverVM.Equals(lastItem))
                                {
                                    <i class="fa fa-arrow-circle-right"></i>
                                }
                            }
                            <br />
                        </td>
                        <td>
                            <a href="/BudgetEstimation/ViewEstimation?id=@item.EncryptedId" class='text-decoration-none'>
                                <i class='fas fa-eye' data-toggle='tooltip' data-placement='left' title='View'></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "ordering": false
            });
        });
    </script>
}