@model AMS.Models.ServiceModels.BudgetEstimate.DraftedBudget.GetDraftBudgetEstimationbyUserResponse

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="table-responsive">
        <h1 class="h3 mb-4 text-gray-800" style="text-align: center;">Draft Budget Estimation</h1>
        <table class="table table-striped text-center" style="width: 100%;" cellspacing="0">
            <thead>
                <tr>
                    <th>Serial No.</th>
                    <th>Estimation Type</th>
                    <th>Project Name</th>
                    <th>Subject</th>
                    <th>Plan Start Date</th>
                    <th>Plan End Date</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DraftedBudgest)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstimationId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstimationTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstimationSubject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstimationPlanStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstimationPlanEnd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstimationTotalPrice)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "DraftedBudgeEstimation", new { id = item.EstimationId }, null) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.EstimationId})
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>