@model AMS.Models.ServiceModels.BudgetEstimate.EstimateEditVM
@using AMS.Models.DomainModels
@using AMS.Models.CustomModels
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <form>
        <div class="card border-secondary mb-4">
            <div class="card-header"><b>Estimate Details View</b></div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="form-group required row">
                        <label for="approvalForDropDown" class="col-sm-2 col-form-label-sm control-label">Approval For</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="approvalForDropDown" required value="@Model.EstimateType" readonly="readonly" />
                        </div>
                    </div>

                    <div class="form-group required row">
                        <label for="subjectTextId" class="col-sm-2 col-form-label-sm control-label">Subject</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="subjectTextId" required value="@Model.Subject" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="objectiveTextId" class="col-sm-2 col-form-label-sm">Objective</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="objectiveTextId" aria-label="With textarea" readonly="readonly">@Model.Objective</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="detailsId" class="col-sm-2 col-form-label-sm">Details</label>
                        <div class="col-sm-10">
                            <textarea id="textEditorEstimation" name="detailsData" readonly="readonly">@Model.Details</textarea>
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label class="col-sm-2 col-form-level-sm control-label">Plan Date</label>
                        <div class="col-sm-2">
                            <input id="datetimepickerEstimationStartDate" class="datepicker form-control" placeholder="Start" type="text" required value="@Model.PlanStartDate" readonly="readonly">
                        </div>
                        <div class="col-sm-2">
                            <input id="datetimepickerEstimationEndDate" class="datepicker form-control" placeholder="End" type="text" required value="@Model.PlanEndDate" readonly="readonly">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="estimationfiles" class="col-sm-2 col-form-label-sm">Attachments</label>
                        <div class="col-sm-4">
                            <input type="file" class="form-control" id="estimationfiles" name="attachedFiles" multiple />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="LinkEstimateForDropDown" class="col-sm-2 col-form-label-sm">Link Estimates</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="LinkEstimateSubjectListForDropDown" name="LinkEstimateForDropDown"></select>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="card border-secondary mb-4">
            <div class="card-header"><b>Estimate Your Budget Here</b></div>
            <div class="card-body">
                <div id="AddParticularSection">
                    <h3 class="h3 mb-4 text-gray-800" style="text-align: center;">Particular Items and Details</h3>
                    <div class="container-fluid">
                        <div class="table-responsive" id="particularItemTableId">
                            <table class="table table-sm table-hover table-bordered particularItemsAndDetailsTable" id="particularItemsDetails">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Particular</th>
                                        <th scope="col">Item Category</th>
                                        <th scope="col">Item</th>
                                        <th scope="col">Item Code</th>
                                        <th scope="col">Unit</th>
                                        <th scope="col">No. Of Machine /Usages /Team /Car</th>
                                        <th scope="col">No. Of Day /Total Unit</th>
                                        <th scope="col">Required Quantity</th>
                                        <th scope="col">Unit Price</th>
                                        <th scope="col">Total Price</th>
                                        <th scope="col">Responsible Department</th>
                                        <th scope="col">District</th>
                                        <th scope="col">Thana</th>
                                        <th scope="col">Area Type</th>
                                        <th scope="col">Remarks</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                    @foreach (var item in Model.EstimateDetailsList)
                                    {
                                        <tr id="R0">
                                            <td>
                                                <input class="form-control-sm particularSelectorFromTable" id="paticularDropdown0" name="particularSelector" value="@item.ParticularName" readonly="readonly" />
                                            </td>
                                            <td>
                                                <input class="form-control-sm itemCategoryDropdownSelector" id="itemCategoryDropdown0" value="@item.CategoryName" readonly="readonly" />
                                            </td>
                                            <td>
                                                <input class="form-control-sm itemSelectorFromTable" id="itemDropdown0" name="itemDropdown" value="@item.ItemName" readonly="readonly" />
                                            </td>
                                            <td>
                                                <span id="itemCodeTextId0" style="color:chocolate"> @item.ItemCode</span>
                                            </td>
                                            <td>
                                                <span id="itemUnitTextId0" class="itemUnitPrice" style="color:chocolate">@item.UnitPrice</span>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control-sm findTotalPrice nomuct singleRowFindTotalPrice0" id="NoOfMaUTCaTextId0" value="@item.NoOfMachineAndUsagesAndTeamAndCar" readonly="readonly" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control-sm findTotalPrice nodut singleRowFindTotalPrice0" id="NoOfDTUTextId0" value="@item.NoOfDayAndTotalUnit" readonly="readonly" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control-sm findTotalPrice rqt singleRowFindTotalPrice0" id="requiredQuantityTextId0" value="@item.QuantityRequired" readonly="readonly" />
                                            </td>
                                            <td>
                                                <span id="unitPriceTextId0" style="color:chocolate">@item.UnitPrice</span>
                                            </td>

                                            <td class="form-control-sm totalPriceColumn" id="TotalPriceTextId0" style="color:chocolate">
                                                @item.TotalPrice
                                            </td>

                                            <td>
                                                <input class="form-control-sm departmentSelector" id="departmentDropdown0" name="demartmentDropdown" value="@item.ResponsibleDepartment" readonly="readonly" />
                                            </td>
                                            <td>
                                                <input class="form-control-sm distSelectorFromTable" id="districtDropdown0" name="districtDropdown" value="@item.District" readonly="readonly" />
                                            </td>
                                            <td>
                                                <input class="form-control-sm particularTableThana" id="thanaDropdown0" name="thanaDropdown" value="@item.Thana" readonly="readonly" />
                                            </td>
                                            <td>
                                                <input class="form-control-sm areaTypeDropdown" id="areaTypeDropdown0" name="areaTypeDropdown" value="@item.AreaType" readonly="readonly" />

                                            </td>
                                            <td colspan="2">
                                                <input type="text" class="particularTableRemarks" value="@item.Remarks" readonly="readonly" />
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                                <tfoot align="right">
                                    <tr>
                                        <th colspan="10" style="font-weight:bold;" id="sumOfTotalPrice"> @Model.TotalPrice</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    @*<div class="container-fluid">
                            <button class="btn btn-md btn-primary" id="addBtn" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>*@
                    <br />
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm">
                                <h3 style="text-align: center;">Department Wise Summary</h3>
                                <div class="table-responsive">
                                    <table class="table table-sm table-hover table-bordered departmentWiseSummaryTable"
                                           id="TableDepartmentWishSummary" style="float:left">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th class="text-left" scope="col">Departments</th>
                                                <th class="text-right" scope="col">Total Price</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tDepartSummarybody">
                                            @foreach (var item in Model.DepartmentWiseSummaryList)
                                            {
                                                <tr>
                                                    <td>@item.DepartmentName</td>
                                                    <td>@item.TotalPrice</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm">
                                <h3 style="text-align: center;">Particular Wise Summary</h3>
                                <div class="table-responsive">
                                    <table class="table table-sm table-hover table-bordered particularWiseSummaryTable"
                                           id="TableParticularWishSummary" style="float:left">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th class="text-left" scope="col">Particulars</th>
                                                <th class="text-right" scope="col">Total Price</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tPartiSummarybody">
                                            @foreach (var item in Model.ParticularWiseSummaryList)
                                            {
                                                <tr>
                                                    <td>@item.ParticularName</td>
                                                    <td>@item.TotalPrice</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="card border-secondary mb-4">
            <div class="card-header"><b>Dynamic Work Flow</b></div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="table-responsive">
                        <table class="table table-sm table-hover table-bordered" id="TableAprroverList">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="text-center" scope="col">WorkFlow</th>
                                </tr>
                            </thead>
                            <tbody id="tApproverbody">
                                <tr>
                                    <td>
                                        @foreach (var item in Model.EstimateApproverList.OrderByDescending(x => x.Priority).ToList())
                                        {
                                            if (item.Status == BaseEntity.EntityStatus.Completed.ToString())
                                            {
                                                <button type="button" class="btn btn-success">
                                                    ->@item.UserName
                                                    <span class="badge badge-light">@item.Priority</span>
                                                </button>
                                            }
                                            else if (item.Status == BaseEntity.EntityStatus.Pending.ToString())
                                            {
                                                <button type="button" class="btn btn-secondary">->@item.UserName<span class="badge badge-light">@item.Priority</span></button>
                                            }
                                            else if (item.Status == BaseEntity.EntityStatus.CR.ToString())
                                            {
                                                <button type="button" class="btn btn-warning">->@item.UserName<span class="badge badge-light">@item.Priority</span></button>
                                            }
                                        }
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <br />
        @*<div class="container-fluid">
                <div class="form-group row">
                    <label for="approved_remarks" class="col-sm-2 col-form-label-sm">Remarks</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="approved_remarks" aria-label="With textarea"></textarea>
                    </div>
                </div>
            </div>*@
        @*<button type="button" id="appbtn" class="btn btn-success btn-lg">Approved</button>
            <button type="button" id="rejbtn" class="btn btn-warning btn-lg">Reject</button>*@

        @Html.HiddenFor(model => model.Id);

    </form>
</div>

@section Scripts{
    <script>

    </script>
}

