@model AMS.Models.CustomModels.EstimationInfoForMemo
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@using AMS.Models.DomainModels
@inject AMS.Services.Managers.Contracts.ISessionManager _sessionManager
@{
    UserEntity? user = await _sessionManager.GetUser();
}
<div class="hiddenElements">
    <input id="estimateId" type="hidden" value="@Model.EstimateId" />
    <input id="estimateIdProtected" type="hidden" value="@Model.EstimateIdProtected" />
</div>
<div class="hiddenElements">
    <input id="estimateReferId" type="hidden"  value="@Model.EstimationReferenceId" />
</div>
<div class="hiddenElements">
    <input id="estimateMemoId" type="hidden" value="@Model.MemoId" />
</div>
<div class="container-fluid">
    @await Html.PartialAsync("_BudgetInfoPartial")
    @await Html.PartialAsync("_DepartmentWiseRunningSummaryPartial")
    @await Html.PartialAsync("_BudgetSettlementSummaryPartial")
    @await Html.PartialAsync("_MemoDetailsPartial")
    @await Html.PartialAsync("_ApprovalWorkflowPartial")
    @await Html.PartialAsync("_ApproverRemarksPartial")
    <div class="container-fluid">
        <div class="form-group row" style="align-content:center">
            <div class="col-12">
                <div style="text-align:center">
                    @if ((@Model.Deviation <= 2000000 && user?.Id == 20) )
                    {
                        <button type="button" id="finalApproverBtn" class="btn btn-outline-primary text-decoration-none"><i class="fa fa-check" aria-hidden="true"></i> Final Approved</button>
                    }
                    @if ((@Model.Deviation <= 2000000 && user?.Id == 20)  )
                    {
                        <button type="button" id="forwardToMdSirBtn" class="btn btn-outline-primary text-decoration-none"><i class="fas fa-forward" aria-hidden="true"></i> Forward to MD Sir</button>
                    }
                    else
                    {
                        @await Html.PartialAsync("_ApproverActionPartial")
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/AjaxCall/Memo.js"></script>
    <script>
         $(document).ready(function () {

            var estimateId = $("#estimateId").val();
            var memoId = $("#estimateMemoId").val();
            $('#justificationId').summernote('disable');
            $("#attachmentSection").hide();

            formateCurrency();
            loadDepartmentWiseRunningSummary(estimateId);
            loadEstimateApprovers(memoId);
            loadEstimateApproverRemarkList(memoId);
        });
    </script>
}

