@model AMS.Models.ServiceModels.BudgetEstimate.SingleEstimationWithTypeResponse
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@using AMS.Models.DomainModels
@inject AMS.Services.Managers.Contracts.ISessionManager _sessionManager
@{
    UserEntity? user = await _sessionManager.GetUser();
}
<style>
    select, option { width: 200px; }

    #TableAprroverList tbody { counter-reset: serial-number; }

    #TableAprroverList tbody td:first-child:before {
        counter-increment: serial-number;
        content: counter(serial-number);
    }

    #TableAprroverFeedBackList tbody { counter-reset: serial-number; }

    #TableAprroverFeedBackList tbody td:first-child:before {
        counter-increment: serial-number;
        content: counter(serial-number);
    }

    #particularItemsDetails tbody { counter-reset: serial-number; }

    #particularItemsDetails tbody td:first-child:before {
        counter-increment: serial-number;
        content: counter(serial-number);
    }

    [data-toggle="collapse"] .fa:before {
        content: "\f13a";
        
        color: orangered;
        font-size: 25px;
    }

    [data-toggle="collapse"].collapsed .fa:before {
        
        content: "\f139";
        color: red;
        font-size: 25px;
    }

    .currency-wrap{
        position:relative;
    }
	
    .currency-code{
        position:absolute;
        left:8px;
        top:10px;
    }
	
    .text-currency{
        padding:12px 20px;
        border:solid 1px #ccc;
        border-radius:5px;
    }
    
</style>

<div class="hiddenElements">
    <input id="estimateId"
           type="hidden"
           value="@Model.Estimation.EstimateId"/>
</div>
<div class="container-fluid">

<div class="card border-secondary mb-4">
    <div class="card-header">
        <b>View Estimate Budget</b>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="form-group required row">
                <label for="approvalForDropDown" class="col-sm-2 col-form-label-sm control-label">Approval For</label>
                <div class="col-sm-4">
                    <select class="form-control" aria-label=".form-select-sm example" id="approvalForDropDown" disabled>
                        <option value="@Model.Estimation.EstimationTypeId" selected>@Model.Estimation.EstimationTypeName</option>
                    </select>
                </div>
            </div>
            <div class="form-group required row">
                <label for="IdentificationTextId" class="col-sm-2 col-form-label-sm control-label">Idenfication</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="IdentificationTextId" value="@Model.Estimation.EstimationIdentifier" disabled/>
                </div>
            </div>
            <div class="form-group required row">
                <label for="subjectTextId" class="col-sm-2 col-form-label-sm control-label">Subject</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="subjectTextId" disabled/>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="card secondary mb-4 procurementApprovalDiv">
    <div class="card-header">
        <b>Background</b>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="form-group required row">
                <label for="paReferenceNumberTextId" class="col-sm-2 col-form-label-sm control-label">PA. Reference No.</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="paReferenceNumberTextId" disabled/>
                </div>
            </div>
            <div class="form-group required row">
                <label for="titleOfPRorRFQTextId" class="col-sm-2 col-form-label-sm control-label">Title of the PR/RFQ</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="titleOfPRorRFQTextId" disabled/>
                </div>
            </div>
            <div class="form-group required row">
                <label for="RFQReferNoTextId" class="col-sm-2 col-form-label-sm control-label">RFQ Reference No.</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="RFQReferNoTextId" disabled/>
                </div>
            </div>
            <div class="form-group required row">
                <label for="PRReferenceNoTextId" class="col-sm-2 col-form-label-sm control-label">PR Reference No.</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="PRReferenceNoTextId" disabled/>
                </div>
            </div>
            <div class="form-group required row">
                <label for="NameAndCellRequesterTextId" class="col-sm-2 col-form-label-sm control-label">Name and Cell No. of Requester</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nameAndCellRequesterTextId" disabled/>
                </div>
            </div>
            <div class="form-group required row">
                <label for="deptOrDivTextId" class="col-sm-2 col-form-label-sm control-label">Department/Division</label>
                <div class="col-sm-10">
                    @*<input type="text" class="form-control" id="" required />*@
                    <select class="form-control" aria-label=".form-select-sm" id="deptOrDivTextId" disabled>
                        <option value="-1" selected>Select</option>
                    </select>
                </div>
            </div>
            <div class="form-group required row">
                <label for="RFQProcessTextId" class="col-sm-2 col-form-label-sm control-label">RFQ Process</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="RFQProcessTextId" disabled/>
                </div>
            </div>
            <div class="form-group required row">
                <label for="sourcingMethodTextId" class="col-sm-2 col-form-label-sm control-label">Sourcing Method</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="sourcingMethodTextId" disabled/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card secondary mb-4 procurementApprovalDiv">
    <div class="card-header">
        <b>Award Recommandation</b>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="form-group required row">
                <label for="nameSupplierTextId" class="col-sm-2 col-form-label-sm control-label">Name of the Recommended Supplied</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nameSupplierTextId" disabled/>
                </div>
            </div>
            <div class="form-group row">
                <label for="purchaseValueTextId" class="col-sm-2 col-form-label-sm">Purchase Value</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="purchaseValueTextId" style="height: 200px;" aria-label="With textarea" disabled></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="savingAmountTextId" class="col-sm-2 col-form-label-sm">Saving Amount</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="savingAmountTextId" style="height: 200px;" aria-label="With textarea" disabled></textarea>
                </div>
            </div>
            <div class="form-group required row">
                <label for="savingTypeDropDown" class="col-sm-2 col-form-label-sm control-label">Saving Type</label>
                <div class="col-sm-4">
                    <select class="form-control" aria-label=".form-select-sm example" id="savingTypeDropDown" disabled>
                        <option value="None">Select</option>
                        <option value="CostAvoidance">Cost Avoidance</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card border-secondary mb-4">
    <div class="card-header " data-toggle="collapse" href="#budgetDiscription">
        <b>Budget Descriptions<i class="fa"></i></b>
    </div>
    <div class="collapse" id="budgetDiscription">
        <div class="card-body">
            <div class="container-fluid">
                <div class="form-group row">
                    <label for="objectiveTextId" class="col-sm-2 col-form-label-sm">Objective</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="objectiveTextId" aria-label="With textarea" style="height: 200px;" disabled>@Model.Estimation.EstimationObjective</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="textEditorEstimation" class="col-sm-2 col-form-label-sm">Details</label>
                    <div class="col-sm-10">
                        <textarea id="textEditorEstimation" name="detailsData" disabled>@Model.Estimation.EstimationDetails</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label-sm">Plan Date</label>
                    <div class="col-sm-4">
                        <label for="datetimepickerEstimationStartDate" class="col-form-label-sm control-label">Start</label>
                        <input readonly="readonly" @*type="datetime-local"*@ id="datetimepickerEstimationStartDate" class="form-control datepicker" disabled/>
                    </div>
                    <div class="col-sm-4">
                        <label for="datetimepickerEstimationEndDate" class="col-form-label-sm control-label">End</label>
                        <input readonly="readonly" @*type="datetime-local"*@ id="datetimepickerEstimationEndDate" class="form-control datepicker" disabled/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="estimationfiles" class="col-sm-2 col-form-label-sm">Attachments</label>
                    <div class="col-sm-4">
                        <table class="table table-sm">
                            <tr id="attachmentsTable"></tr>
                        </table>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="creatortext" class="col-sm-2 col-form-label-sm control-label">Created By</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="creatortext" value="@Model.Estimation.CreateorFullName" disabled/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="creationDateTxt" class="col-sm-2 col-form-label-sm control-label">Creation Time</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="creationDateTxt" value="@Model.Estimation.CreatedDate.ToString("f")" disabled/>
                    </div>
                </div>
                <div class="form-group row" id="totalPriceDiv">
                    <label for="totalPriceText" class="col-sm-2 col-form-label-sm control-label">Total Price</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control numbersOnly" id="totalPriceText" value="@Model.Estimation.EstimaionTotalPrice" disabled/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card border-secondary mb-4" id="AddParticularSection">
    <div class="card-header" data-toggle="collapse" href="#particularItemDetails">
        <b>Particular Items and Details</b> <i class="fa"></i>
    </div>
    <div class="collapse" id="particularItemDetails">
        <div class="card-body">
            <div id="AddParticularSection">
                <div class="container-fluid">
                    <div class="table-responsive" id="particularItemTableId">
                        <table class="table table-responsive-md table-hover table-bordered particularItemsAndDetailsTable" id="particularItemsDetails">
                            <thead style="position: sticky; top: 0" class="thead-dark">
                            <tr>
                                <th class="header" scope="col">#</th>
                                <th class="header" scope="col">Particular@*<hr />Item Category<hr />Item*@</th>
                                @*<th scope="col" style="width:200px">Item Category</th>
                                    <th scope="col" style="width:200px">Item</th>*@
                                <th class="header" scope="col">Item Description@*<hr />Unit*@</th>
                                @*<th scope="col">Unit</th>*@
                                <th class="header" scope="col">Quantity@*No. Of Machine/ Usages/Team/Car<hr />No. Of Day/ Total Unit<hr />Required Quantity*@</th>
                                @*<th scope="col">No. Of Day /Total Unit</th>
                                    <th scope="col">Required Quantity</th>*@
                                <th class="header" scope="col">Unit Price</th>
                                <th class="header" scope="col">Total Price (TK.)</th>
                                <th class="header" scope="col">Department</th>
                                <th class="header" scope="col">Location@*District<hr />Thana<hr />Area Type*@</th>
                                @*<th scope="col">Thana</th>
                                    <th scope="col">Area Type</th>*@
                                <th class="header" scope="col">Remarks</th>
                            </tr>
                            </thead>
                            <tbody id="tbody" style="text-align: left">
                            </tbody>
                            <tfoot align="right">
                            <tr>
                                @*<td colspan="4"><span id="validationMsgOnParticular" style="color:red"></span></td>*@
                                <td id="sumOfTotalPrice" hidden>@Model.Estimation.EstimaionTotalPrice</td>
                                <td colspan="6" style="font-weight: bold;" id="sumOfTotalPriceShow"></td>
                                <td>
                                    <span id="validationMsgOnDepartment" style="color: red"></span>
                                </td>
                                <td colspan="2">
                                    <span id="validationMsgOnThana" style="color: red"></span>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="container-fluid">
                    <button class="btn btn-md btn-primary" id="addBtn" type="button">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
                <br/>
                @*<div class="container-fluid">
                    <div class="card border-secondary mb-4">
                        <div class="card-header">
                            <b>Budget Summary View</b>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm">
                                    <h6 style="text-align: center;">Department Wise Summary</h6>
                                    <div class="table-responsive">
                                        <table class="table table-sm table-hover table-bordered departmentWiseSummaryTable"
                                               id="TableDepartmentWishSummary" style="float: left">
                                            <thead class="thead-dark">
                                            <tr>
                                                <th class="text-left" scope="col">Departments</th>
                                                <th class="text-right" scope="col">Total Price (TK.)</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tDepartSummarybody" style="text-align: left">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <h6 style="text-align: center;">Particular Wise Summary</h6>
                                    <div class="table-responsive">
                                        <table class="table table-sm table-hover table-bordered particularWiseSummaryTable"
                                               id="TableParticularWishSummary" style="float: left">
                                            <thead class="thead-dark">
                                            <tr>
                                                <th class="text-left" scope="col">Particulars</th>
                                                <th class="text-right" scope="col">Total Price (TK.)</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tPartiSummarybody" style="text-align: left">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>
<br/>
<div class="card border-secondary mb-4">
    <div class="card-header" data-toggle="collapse" href="#approverWorkflowDetails">
        <b>Approver Workflow Design </b> <i class="fa"></i>
    </div>
    <div class="card-body collapse" id="approverWorkflowDetails">
        <div class="card border-secondary mb-4">
            <div class="card-header">
                <b>Approver List </b>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <span id="app_err-container"></span>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover table-bordered" id="TableAprroverList">
                            <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th class="text-center" scope="col">Approver Name</th>
                                @*<th class="text-center" scope="col">Approver Priority</th>*@
                                <th class="text-center" scope="col">Approver Type</th>
                                <th class="text-center" scope="col">Approver Department</th>
                                <th class="text-center" scope="col">Expected Time</th>
                            </tr>
                            </thead>
                            <tbody id="tApproverbody" style="text-align: left">
                            <tr style="background-color: khaki;">
                                <td>&nbsp;</td>
                                <td class="text-left">@Model.Estimation.CreateorFullName</td>
                                <td class="text-left">Creator</td>
                                <td class="text-left">@Model.Estimation.CreatorDepartment</td>
                                <td class="text-left"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="card border-secondary mb-4" id="divApproverRemarksList">
    <div class="card-header">
        <b>Approver Remarks </b>
    </div>
    <div class="card-body">
        <div class="card border-secondary mb-4">
            <div class="card-header">
                <b>Feedback List </b>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <span id="app_err-container"></span>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover table-bordered" id="TableAprroverFeedBackList">
                            <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th class="text-center" scope="col">Approver</th>
                                <th class="text-center" scope="col">Status</th>
                                <th class="text-center" scope="col">Feedback Date</th>
                                <th class="text-center" scope="col">Feedback</th>
                            </tr>
                            </thead>
                            <tbody id="tApproverRemarksbody" style="text-align: left">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>

<div>
<div class="card border-secondary mb-4">
<div class="card-header">
    <b> Summary View</b>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-sm">
            <div class="summaryHead">
                <h1>Department Wise Summary</h1>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-hover table-bordered departmentWiseSummaryTable"
                       id="TableDepartmentWishSummary" style="float: left">
                    <thead class="thead-dark">
                    <tr>
                        <th class="text-left" scope="col">Departments</th>
                        <th class="text-right" scope="col">Total Allowed Budget (TK.)</th>
                        <th class="text-right" scope="col">Total Cost (TK.)</th>
                        <th class="text-right" scope="col">Deviation</th>
                        <th class="text-right" scope="col">Percentage</th>
                    </tr>
                    </thead>
                    <tbody id="tDepartSummarybody" style="text-align: left">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="summaryHead">
                <h1>Particular Wise Summary</h1>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-hover table-bordered particularWiseSummaryTable"
                       id="TableParticularWishSummary" style="float: left">
                    <thead class="thead-dark">
                    <tr>
                        <th class="text-left" scope="col">Particulars</th>
                        <th class="text-right" scope="col">Total Price (TK.)</th>
                        <th class="text-right" scope="col">Total Cost (TK.)</th>
                        <th class="text-right" scope="col">Deviation</th>
                        <th class="text-right" scope="col">Percentage</th>
                    </tr>
                    </thead>
                    <tbody id="tPartiSummarybody" style="text-align: left">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <br/>

    <div class="card border-secondary mb-4" >
        <div class="card-header">
            <b>Fund Requistion History & Summary </b>
        </div>
        <div class="card-body">
            <div class="card border-secondary mb-4" id="fundRequistionDisburseHistory">
                <div class="card-header">
                    <b>Own Department Fund Requistion History </b>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <span id="app_err-container"></span>
                        <div class="table-responsive">
                            <table class="table table-sm table-hover table-bordered" id="TableFundRequistionHistory">
                                <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th class="text-center" scope="col">Req. Sl</th>
                                    <th class="text-center" scope="col">Department</th>
                                    <th class="text-center" scope="col">Fund Type</th>
                                    <th class="text-center" scope="col"> Date</th>
                                    <th class="text-center" scope="col">Req. Amount</th>
                                    <th class="text-center" scope="col">Disburse Sl</th>
                                    <th class="text-center" scope="col">Date</th>
                                    <th class="text-center" scope="col">Disburse Amount</th>
                                </tr>
                                </thead>
                                <tbody id="TableBodyFundRequistionHistory" style="text-align: left">
                                </tbody>
                                <tfoot align="right">
                                <tr>
                                    <td colspan="5">
                                        <b>Total Requisition:</b>
                                    </td>
                                    <td id="totalRequisitionT"></td>
                                    <td colspan="2">
                                        <b>Total Disburse : </b>
                                    </td>
                                    <td id="totalDisburseT"></td>

                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mb-4" id="fundRequistionDisburseHistoryOfOtherDepartment">
                <div class="card-header">
                    <b>Other Department Fund Requistion History  </b>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <span id="app_err-container"></span>
                        <div class="table-responsive">
                            <table class="table table-sm table-hover table-bordered" id="TableOtherDepartmentFundRequistionHistory">
                                <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th class="text-center" scope="col">Req. Sl</th>
                                    <th class="text-center" scope="col">Department</th>
                                    <th class="text-center" scope="col">Fund Type</th>
                                    <th class="text-center" scope="col"> Date</th>
                                    <th class="text-center" scope="col">Amount</th>
                                    <th class="text-center" scope="col">Disburse Sl</th>
                                    <th class="text-center" scope="col">Date</th>
                                    <th class="text-center" scope="col">Amount</th>
                                </tr>
                                </thead>
                                <tbody id="TableBodyOtherDepartmentFundRequistionHistory" style="text-align: left">
                                </tbody>
                                <tfoot align="right">
                                <tr>
                                    <td colspan="5">
                                        <b>Total Requisition:</b>
                                    </td>
                                    <td id="otherDepartmentTotalRequisitionT"></td>
                                    <td colspan="2">
                                        <b>Total Disburse : </b>
                                    </td>
                                    <td id="otherDepartmentTotalDisburseT"></td>

                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <form id="fundRequisitionForm">
    <div class="card secondary mb-4">
        <div class="card-header"><b>Fund Requistion</b></div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="form-group  row">
                    <label for="" class="col-sm-2 col-form-label-sm control-label">Total Allowable Budget</label>

                    <div class="col-sm-4 ">

                        <input type="text" value="@ViewBag.fundRequisition.TotalAllowableBudget" readonly="readonly" class="  form-control numbersOnly" id="TotalAllowableBudget" />
                    </div>
                    <label for="" class="col-sm-2 col-form-label-sm ">Own Allowable Budget</label>
                    <div class="col-sm-4">
                        <input type="text" value="@ViewBag.fundRequisition.DepartmentWiseTotalAllowableBudget" readonly="readonly" class="form-control numbersOnly" id="DepartmentWiseTotalAllowableBudget" />
                    </div>

                </div>
                <div class="form-group  row">
                    <label for="" class="col-sm-2 col-form-label-sm control-label">Total Requisition Amount</label>

                    <div class="col-sm-4 ">

                        <input type="text" value="@ViewBag.fundRequisition.TotalRequisitionAmount" readonly="readonly" class="  form-control numbersOnly" id="TotalRequisitionAmount" />
                    </div>
                    <label for="" class="col-sm-2 col-form-label-sm ">Total Received Amount</label>
                    <div class="col-sm-4">
                        <input type="text" value="@ViewBag.fundRequisition.TotalReceived" readonly="readonly" class="form-control numbersOnly" id="TotalReceived" />
                    </div>

                </div>
                <div class="form-group  row">
                    <label for="" class="col-sm-2 col-form-label-sm control-label"> Own Requisition Amount</label>

                    <div class="col-sm-4 ">

                        <input type="text" value="@ViewBag.fundRequisition.DepartmentWiseTotalRequisition" readonly="readonly" class="  form-control numbersOnly" id="DepartmentWiseTotalRequisition" />
                    </div>
                    <label for="newAmount" class="col-sm-2 col-form-label-sm ">Remaining Budget</label>
                    <div class="col-sm-4">
                        <input type="text" value="@ViewBag.fundRequisition.RemainingBudget" readonly="readonly" id="remainingBudget" class="form-control numbersOnly" id="" />
                    </div>
                    

                </div>

                <div class="form-group required row" id="totalPriceDiv">
                    <label for="newAmount" class="col-sm-2 col-form-label-sm control-label">New Amount</label>
                    <div class="col-sm-4">
                        <input type="text" class="  form-control " id="newAmount" required />
                    </div>
                    <label for="" class="col-sm-2 col-form-label-sm ">Own Remaining Budget</label>
                    <div class="col-sm-4">
                        <input type="text" value="@ViewBag.fundRequisition.DepartmentWiseRemainingBudget" readonly="readonly" class="form-control numbersOnly" id="DepartmentWiseRemainingBudget" />
                    </div>

                </div>
                <div class="form-group required row">
                    <label for="objectiveTextId" class="col-sm-2 col-form-label-sm control-label">Proposed Disburse Date</label>
                    <div class="col-sm-4">
                        <input id="proposedDisburseDate" class="form-control datepicker" required />
                    </div>
                    <label for="" class="col-sm-2 col-form-label-sm control-label">Requisition Type</label>
                    <div class="col-sm-4" id="requisitionTypeDiv">

                        <label class="btn btn-success" title="Will be pending to Recommendation end for input. Will go to next after recommendation input.">
                            <input type="radio" class="btn btn-default" name="role" value="1" checked />&nbsp;&nbsp;Fund
                        </label>
                        <label class="btn btn-primary" title="Will be pending to Recommendation end for input. This will be the last stage of the workflow. Only one person can be final approver.">
                            <input type="radio" class="btn btn-default" name="role" value="2" />&nbsp;&nbsp;Payment
                        </label>
                    </div>

                </div>

                <div class="form-group row">
                    <label for="detailsId" class="col-sm-2 col-form-label-sm">Remarks</label>
                    <div class="col-sm-10">
                        <textarea id="remarksRichText" style="height: 300px;" name="remarks"></textarea>
                    </div>
                </div>

                @*<div class="form-group row">
            <label for="estimationfiles" class="col-sm-2 col-form-label-sm">Attachments</label>
            <div class="col-sm-4">
                <input type="file" class="form-control" id="estimationfiles" name="attachedFiles" multiple />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <ul id="attachmentsTableNew"></ul>
            </div>
        </div>*@
                <div class="form-group row" style="align-content: center">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8 ">
                        <button type="button" id="submitFundRequisition" class="btn btn-info btn-lg">
                            @*<i class="fa fa-eye" aria-hidden="true"></i>*@ Submit
                        </button>
                        @*<button id="draftBudgeEstimation" class="btn btn-primary btn-lg" type="button">
                    <i class="fa fa-file" aria-hidden="true"></i> Draft
                </button>*@
                        @Html.Hidden("RedirectToAllDraft", Url.Action("Index", "DraftedBudgeEstimation"))
                        <button id="clearbtn" class="btn btn-warning btn-lg" type="button">
                            <i class="fa fa-ban" aria-hidden="true"></i> Clear Form
                        </button>

                    </div>
                </div>


            </div>
        </div>
    </div>
</form>

</div>


@section Scripts{

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/AjaxCall/GetDataFromDbForBudetEstimationPage.js"></script>
    <script src="~/js/alertify.js"></script>
    <script src="~/js/jquery.blockUI.js"></script>
    <script>

        $('#proposedDisburseDate').datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true,
            startDate: new Date()
        });
        $('input.CurrencyInput').on('blur', function() {
            const value = this.value.replace(/,/g, '');
            this.value = parseFloat(value).toLocaleString('en-US', {
                style: 'decimal',
                maximumFractionDigits: 2,
                minimumFractionDigits: 2
            });
        });

        $(":input").on("keyup change",
            function(e) {
                showErrorMessageBelowCtrl('newAmount', 'please input new budget amount555', false);
                showErrorMessageBelowCtrl('proposedDisburseDate', 'please select Proposed555 Disburse date', false);
                showErrorMessageBelowCtrl('remarksRichText', 'please select Proposed555 Disburse date', false);
            });


        var rowIdx = 0;
        var storeItemDetails;
        var storeUsersWithDepartmentName;
        var tableOpen = 1;
        var formData;
        $(document).ready(function() {

            $(document).on('click',
                '#clearbtn',
                function() {
                    console.log('hh');
                    $("#form")[0].reset();
                });

            $('.procurementApprovalDiv').hide();
            $("#totalPriceDiv").hide();
            $("#addBtn").hide();

            //rich text editor configuration
            $('#textEditorEstimation').summernote({
                placeholder: 'Estimation Details',
                tabsize: 2,
                height: 300,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear']],
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ol', 'ul', 'paragraph', 'height']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['undo', 'redo', 'fullscreen', 'codeview', 'help']]
                ]
            });


            $('#textEditorEstimation').summernote('disable');
            getParticularsFromDb(0);
            getDepartmentsForDropDownFrmDb();

            var estimationId = $("#estimateId").val();
            var selectValue = $("#approvalForDropDown").val();

            var formatter = new Intl.NumberFormat('en-IN',
                {
                    style: 'currency',
                    currency: 'BDT'
                });

            var totalPriceWithoutItemTable = $('#totalPriceText').val();
            var formatedtotalPriceWithoutItemTable = formatter.format(totalPriceWithoutItemTable);
            $('#totalPriceText').val(formatedtotalPriceWithoutItemTable);

            var totalPrice = $('#sumOfTotalPrice').text();
            var formatedtotalPrice = formatter.format(totalPrice);
            $('#sumOfTotalPriceShow').text(formatedtotalPrice);

            getUserDept();
            loadEstimation(estimationId);
            loadAttachments(estimationId);
            if (selectValue == 7) {
                $('.procurementApprovalDiv').show();
                loadProcurementApprovalEstimate(estimationId);
            }
            loadEstimationDetails(estimationId);
            loadEstimateApprovers(estimationId);
            loadSummariesOfThisEstimation(estimationId);
            loadEstimateApproverRemarkList(estimationId);
            loadFundRequistionHistoryByEstimateId(estimationId);
            loadFundRequistionHistoryOfOtherDepartmentByEstimateId(estimationId);

            function getUserDept() {
                var sessionUserDept = {};
                $.ajax({
                    type: "POST",
                    url: "/User/GetUserByUserId",
                    data: "{}",
                    success: function(data) {
                        var sessionUserDept = data;;
                    }
                });
                return sessionUserDept.isCRA;

            }

            function loadEstimation(value) {
                $.ajax({
                    type: "GET",
                    url: "/Estimation/GetEstimationInfobyId?estimationId=" + value,
                    data: "{}",
                    success: function(data) {
                        var estimation = data.estimation;
                        $("#subjectTextId").val(estimation.estimationSubject);
                        $("#datetimepickerEstimationEndDate").val(estimation.estimationPlanEndDate.slice(0, 10));
                        $("#datetimepickerEstimationStartDate").val(estimation.estimationPlanStartDate.slice(0, 10));
                    }
                });
            }

            function loadProcurementApprovalEstimate(value) {
                $.ajax({
                    type: "GET",
                    url: "/Estimation/GetProcurementApprovalEstimationInfobyEstimateId?estimationId=" + value,
                    data: "{}",
                    success: function(data) {
                        console.log(data);

                        $("#paReferenceNumberTextId").val(data.paReferenceNo);
                        $("#titleOfPRorRFQTextId").val(data.titleOfPRorRFQ);
                        $("#RFQReferNoTextId").val(data.rfqReferenceNo);
                        $("#PRReferenceNoTextId").val(data.prReferenceNo);
                        $("#nameAndCellRequesterTextId").val(data.nameOfRequester);
                        //$('#deptOrDivTextId option[value=' + data.departmentId + ']').attr('selected', 'selected');
                        $('#deptOrDivTextId').val(data.departmentId);
                        $("#RFQProcessTextId").val(data.rfqProcess);
                        $("#sourcingMethodTextId").val(data.sourcingMethod);
                        $("#nameSupplierTextId").val(data.nameOfRecommendedSupplier);
                        $("#purchaseValueTextId").val(data.purchaseValue);
                        $("#savingAmountTextId").val(data.savingAmount);
                        //$('#savingTypeDropDown option[value=' + data.savingType + ']').attr('selected', 'selected');
                        $("#savingTypeDropDown option").filter(function() {
                            return $(this).text() == data.savingType;
                        }).prop('selected', true);
                    }
                });
            }

            function loadAttachments(value) {
                $.ajax({
                    type: "GET",
                    url: "/BudgetEstimation/LoadEstimateAttachmentsByEstimateId?estimateId=" + value,
                    data: "{}",
                    success: function(data) {
                        let attachment = data;
                        for (var i = 0; i < attachment.length; i++) {
                            var str = attachment[i].url;

                            let index = str.indexOf('\\uploadedFiles\\NewFolder');
                            var res = str.substring(index);
                            console.log(res);

                            $('#attachmentsTable').append(
                                `<td><a href="` + res + `" download>` + attachment[i].fileName + `</a></td>`
                            );
                        }
                    }
                });
            }

            function loadEstimationDetails(value) {
                var formatter = new Intl.NumberFormat('en-IN');
                $.ajax({
                    type: "GET",
                    url: "/DraftedBudgeEstimation/GetAllEstimationDetailsByEstimate?estiId=" + value,
                    data: "{}",
                    success: function(data) {
                        var details = data;
                        if (details.length < 1) {
                            console.log("No Items");
                            $("#AddParticularSection").hide();
                            $("#totalPriceDiv").show(0);
                            tableOpen = 0;
                        } else {
                            for (var i = 0; i < details.length; i++) {
                                var deptId = details[i].departmentId;
                                var deptName = details[i].departmentName;
                                var formatedPrice = formatter.format(details[i].totalPrice);

                                $('#tbody').append(`<tr id="R${++rowIdx}">
                                        <td>&nbsp;</td>
                                        <td width="50%">
                                            Particular :` +
                                    details[i].particular +
                                    `
                                            <hr />Item Category: ` +
                                    details[i].itemCategory +
                                    ` 
                                            <hr />Item: <span style="color:blue;font-weight:bold">` +
                                    details[i].itemName +
                                    `</span>
                                        </td>    
                                        <td>Item Code: ` +
                                    details[i].itemCode +
                                    `
                                            <hr />Item Unit: ` +
                                    details[i].itemUnit +
                                    `
                                        </td>                                     
                                        <td>
                                            No.Of Mach./Usages/ Team/Car:<input type="text" class="findTotalPrice nomuct singleRowFindTotalPrice${rowIdx}" style="width:50px"
                                                id="NoOfMaUTCaTextId${rowIdx}" name="indexMAU"
                                                    value="` +
                                    details[i].noOfMachineAndUsagesAndTeamAndCar +
                                    `" disabled /> <hr />
                                            No.Of Day/ Total Unit:<input type="text" class="onlyNumber findTotalPrice nodut singleRowFindTotalPrice${rowIdx}" style="width:50px"
                                                id="NoOfDTUTextId${rowIdx}" value="` +
                                    details[i].noOfDayAndTotalUnit +
                                    `" disabled /> <hr />
                                            Req.Quantity: <input type="text" class="onlyNumber findTotalPrice rqt singleRowFindTotalPrice${rowIdx}" style="width:50px"
                                                id="requiredQuantityTextId${rowIdx}" value="` +
                                    details[i].quantityRequired +
                                    `" disabled /> <hr />
                                        </td>
                                        <td><input type="text" class="form-control-sm itemUnitPrice numbersOnly" id="unitPriceTextId${rowIdx}" value="` +
                                    details[i].unitPrice +
                                    `" style="width:100px" disabled /></td>
                                        <td class="form-control-sm totalPriceColumn" id="TotalPriceTextId${rowIdx}" style="color:chocolate" hidden>` +
                                    details[i].totalPrice +
                                    `</td>
                                        <td class="form-control-sm" id="TotalPriceFormateTextId${rowIdx}" style="text-align:right; color:chocolate">` +
                                    formatedPrice +
                                    `</td>
                                        <td>` +
                                    deptName +
                                    `</td>
                                        <td>District: ` +
                                    details[i].districtName +
                                    ` <hr />
                                            Thana: ` +
                                    details[i].thanaName +
                                    ` <hr />
                                            Area Type: ` +
                                    details[i].areaType +
                                    `
                                        </td>
                                        <td colspan="2">
                                            <span>` +
                                    details[i].remarks +
                                    `</span>
                                        </td>
                                    </tr>`);
                            }
                        }

                    }
                });
            }

            function loadEstimateApprovers(value) {

                $.ajax({
                    type: "GET",
                    url: "/DraftedBudgeEstimation/GetAllApproverByEstimate?estiId=" + value,
                    data: "{}",
                    success: function(data) {
                        var approvers = data;
                        console.log(approvers);

                        var statusTag = "";
                        for (var i = 0; i < approvers.length; i++) {
                            var expectedDate = "";

                            if (approvers[i].approverRoleId == 1 || approvers[i].approverRoleId == 2) {
                                if (approvers[i].approverStatus == "2") {
                                    statusTag = "<span class='w3-tag w3-yellow'>Pending</span>";
                                } else if (approvers[i].approverStatus == "100") {
                                    statusTag = "<span class='w3-tag w3-green'>Approved</span>";
                                } else if (approvers[i].approverStatus == "-404") {
                                    statusTag = "<span class='w3-tag w3-deep-orange'>Rollbacked</span>";
                                } else if (approvers[i].approverStatus == "-500") {
                                    statusTag = "<span class='w3-tag w3-red'>Rejected</span>";
                                }
                                var d = new Date(approvers[i].approverPlanDate);
                                expectedDate = d.toDateString();
                            }
                            $('#tApproverbody').append(
                                `<tr>
                                    <td>&nbsp;</td>
                                    <td class="approverName">` +
                                approvers[i].approverFullName +
                                ` ` +
                                statusTag +
                                ` </td>
                                    <td class="approverId" hidden>` +
                                approvers[i].approverId +
                                `</td>
                                    <td class="approverPriority" hidden>` +
                                approvers[i].approverPriority +
                                `</td>
                                    <td class="approverPriorityType" hidden>` +
                                approvers[i].approverRoleId +
                                `</td>
                                    <td class="approverPriorityTypeText">` +
                                approvers[i].approverRoleName +
                                `</td>
                                    <td class="approverDepartment">` +
                                approvers[i].approverDepartment +
                                `</td>
                                    <td class="approverDepartmentId" hidden>` +
                                approvers[i].approverDepartmentId +
                                `</td>
                                    <td class="approverExpectedTime">` +
                                expectedDate +
                                `</td>
                                </tr>`);
                        }
                    }
                });
            }

            function loadSummariesOfThisEstimation(value) {
                var formatter = new Intl.NumberFormat('en-IN',
                    {
                        style: 'currency',
                        currency: 'BDT'
                    });

                $.ajax({
                    type: "GET",
                    url: "/DepartmentWiseSummaryOfBudgetEstimation/LoadDepartmentWiseSummaryForASettledEstimationWithBudgetData?estimationId=" + value,
                    data: "{}",
                    success: function(data) {
                        var deptSummary = data;
                        console.log(deptSummary);
                        let tTotalCost = 0;
                        let totalBudgetExclueScm = 0;
                        let tTotalBudget = 0;
                        let tTotalDeviation = 0;

                        let rowDepartmentWiseSummaryTableIndex = 1;
                        for (var i = 0; i < deptSummary.length; i++) {
              
                            var deviation = 0;
                            var percentage = 0;
                            //if (parseFloat(deptSummary[i].totalCost) > parseFloat(deptSummary[i].totalBudget)) {
                                deviation =parseFloat(deptSummary[i].totalBudget) - parseFloat(deptSummary[i].totalCost)  ;
                                var divide =parseFloat(deptSummary[i].totalBudget) / parseFloat(deptSummary[i].totalCost) ;
                                percentage = parseFloat(divide) * 100;
                                tTotalDeviation += deviation;
                            //}
                            tTotalCost += deptSummary[i].totalCost;
                            tTotalBudget += deptSummary[i].totalBudget;

                            if (Number(deptSummary[i].departmentId) != 41) {
                                totalBudgetExclueScm += deptSummary[i].totalBudget;
                            }
                            if (Number(deptSummary[i].departmentId) == 41) {
                                $('#tDepartSummarybody').append(
                                    `<tr class="deletedDepartmentRow" style="color:#B2BEB5" id="RowDepartmentSummary${rowDepartmentWiseSummaryTableIndex}">
                                                <td lass="text-left">
                                                    <span id="nameDepartmentId${rowDepartmentWiseSummaryTableIndex}"
                                                        class="departmentWiserSummaryDepartmentColumn"
                                                        >` +
                                    deptSummary[i].departmentName +
                                    `</span>
                                                </td>
                                                <td id="idDepartmentId${rowDepartmentWiseSummaryTableIndex}" class="departmentSummaryDeptId" hidden>` +
                                    deptSummary[i].departmentId +
                                    `</td>
                                                <td class="text-right">
                                                    <span id="totalPriceDepartmentId${rowDepartmentWiseSummaryTableIndex}"
                                                        class="departmentWiserSummaryTablePriceColumn" hidden>` +
                                    deptSummary[i].totalBudget +
                                    `</span>
                                                    <span >` +
                                    formatter.format(deptSummary[i].totalBudget) +
                                    `</span>
                                                </td>
                                                <td class="text-right">
                                                    <span id="totalcostDepartmentId${rowDepartmentWiseSummaryTableIndex}"
                                                        class="departmentWiserSummaryTablePriceColumn" hidden>` +
                                    deptSummary[i].totalCost +
                                    `</span>
                                                    <span >` +
                                    formatter.format(deptSummary[i].totalCost) +
                                    `</span>
                                                </td>
                                                <td class="text-right">
                                                    <span >` +
                                    formatter.format(deviation) +
                                    `</span>
                                                </td>
                                                <td class="text-right">
                                                    <span >` +
                                    percentage.toFixed(2) +
                                    ` % </span>
                                                </td>
                                            </tr>`
                                );
                            } else {
                                $('#tDepartSummarybody').append(
                                    `<tr class="deletedDepartmentRow" id="RowDepartmentSummary${rowDepartmentWiseSummaryTableIndex}">
                                                <td lass="text-left">
                                                    <span id="nameDepartmentId${rowDepartmentWiseSummaryTableIndex}"
                                                        class="departmentWiserSummaryDepartmentColumn"
                                                        style="color:chocolate">` +
                                    deptSummary[i].departmentName +
                                    `</span>
                                                </td>
                                                <td id="idDepartmentId${rowDepartmentWiseSummaryTableIndex}" class="departmentSummaryDeptId" hidden>` +
                                    deptSummary[i].departmentId +
                                    `</td>
                                                <td class="text-right">
                                                    <span id="totalPriceDepartmentId${rowDepartmentWiseSummaryTableIndex}"
                                                        class="departmentWiserSummaryTablePriceColumn" hidden>` +
                                    deptSummary[i].totalBudget +
                                    `</span>
                                                    <span style="color:chocolate">` +
                                    formatter.format(deptSummary[i].totalBudget) +
                                    `</span>
                                                </td>
                                                <td class="text-right">
                                                    <span id="totalcostDepartmentId${rowDepartmentWiseSummaryTableIndex}"
                                                        class="departmentWiserSummaryTablePriceColumn" hidden>` +
                                    deptSummary[i].totalCost +
                                    `</span>
                                                    <span style="color:chocolate">` +
                                    formatter.format(deptSummary[i].totalCost) +
                                    `</span>
                                                </td>
                                                <td class="text-right">
                                                    <span style="color:chocolate">` +
                                    formatter.format(deviation) +
                                    `</span>
                                                </td>
                                                <td class="text-right">
                                                    <span style="color:chocolate">` +
                                    percentage.toFixed(2) +
                                    ` % </span>
                                                </td>
                                            </tr>`
                                );
                            }
                           
                           
                            rowDepartmentWiseSummaryTableIndex++
                        }
                        $('#tDepartSummarybody').append(
                                `<tr class="deletedParticularRow" >
                                                <td lass="text-left">
                                                    <span style="color: #23098B ">Grand Total(<span style="color: blue ">Exclude SCM</span>)</span>
                                         
                                                </td>
                                                <td class="text-right">
                                                    
                                                    <span style="color: #23098B ">` +
                            formatter.format(tTotalBudget) + `(<span style="color: #B2BEB5; ">` + formatter.format(totalBudgetExclueScm) +`</span>)
                                </span>
                                                </td>
                                                <td class="text-right">
                                                    
                                                    <span style="color: #23098B ">` +
                                formatter.format(tTotalCost)  +
                                `</span>
                                                </td>
                                                <td class="text-right">
                                                    <span style="color: #23098B">` +
                                formatter.format(tTotalDeviation) +
                                `</span>
                                                </td>
                                                <td class="text-right">
                                                    
                                                </td>
                                            </tr>`
                            );
                    }
                });
                $.ajax({
                    type: "GET",
                    url: "/ParticularWiseSummary/GetParticularSummaryForASettledEstimationWithBudgetData?estimationId=" + value,
                    data: "{}",
                    success: function(data) {
                        let partiSummary = data;
                        let rowParticularWiseSummaryTableIndex = 1;
                        let tTotalCost = 0; 
                        let tTotalBudget = 0;
                        let tTotalDeviation = 0;
                        for (var i = 0; i < partiSummary.length; i++) {
                            var deviation = 0;
                            var percentage = 0;
                            //if (parseFloat(partiSummary[i].totalCost) > parseFloat(partiSummary[i].totalBudget)) {
                                deviation =parseFloat(partiSummary[i].totalBudget) - parseFloat(partiSummary[i].totalCost) ;
                                        var divide = parseFloat(partiSummary[i].totalBudget)/ parseFloat(partiSummary[i].totalCost);
                                percentage = parseFloat(divide) * 100;
                                tTotalDeviation += deviation;
                           // }
                            tTotalCost += partiSummary[i].totalCost;
                            tTotalBudget += partiSummary[i].totalBudget;

                            $('#tPartiSummarybody').append(
                                `<tr class="deletedParticularRow" id="RowParticularSummary${rowParticularWiseSummaryTableIndex}">
                                                <td lass="text-left">
                                                    <span id="nameParticularId${rowParticularWiseSummaryTableIndex}"
                                                        style="color:chocolate">` +
                                partiSummary[i].particularName +
                                `</span>
                                                <td id="idParticularId${rowParticularWiseSummaryTableIndex}" class="particularSummarypartiId" hidden>` +
                                partiSummary[i].particularId +
                                `</td>
                                                </td>
                                                <td class="text-right">
                                                    <span id="totalPriceParticularId${rowParticularWiseSummaryTableIndex}" hidden>` +
                                partiSummary[i].totalBudget +
                                `</span>
                                                    <span style="color:chocolate">` +
                                formatter.format(partiSummary[i].totalBudget) +
                                `</span>
                                                </td>
                                                <td class="text-right">
                                                    <span id="totalcostParticularId${rowParticularWiseSummaryTableIndex}" hidden>` +
                                partiSummary[i].totalCost +
                                `</span>
                                                    <span style="color:chocolate">` +
                                formatter.format(partiSummary[i].totalCost) +
                                `</span>
                                                </td>
                                                <td class="text-right">
                                                    <span style="color:chocolate">` +
                                formatter.format(deviation) +
                                `</span>
                                                </td>
                                                <td class="text-right">
                                                    <span style="color:chocolate">` +
                                percentage.toFixed(2) +
                                ` % </span>
                                                </td>
                                            </tr>`
                            );
                            rowParticularWiseSummaryTableIndex++;
                        }
                        $('#tPartiSummarybody').append(
                                `<tr class="deletedParticularRow" id="RowParticularSummary${rowParticularWiseSummaryTableIndex}">
                                                <td lass="text-left">
                                                    <span id="nameParticularId${rowParticularWiseSummaryTableIndex}"
                                                        style="color: #23098B">Grand Total(Exclued SCM)</span>
                                         
                                                </td>
                                                <td class="text-right">
                                                    
                                                    <span style="color: #23098B">` +
                                formatter.format(tTotalBudget) +
                                `</span>
                                                </td>
                                                <td class="text-right">
                                                    
                                                    <span style="color: #23098B">` +
                                formatter.format(tTotalCost)  +
                                `</span>
                                                </td>
                                                <td class="text-right">
                                                    <span style="color: #23098B">` +
                                formatter.format(tTotalDeviation) +
                                `</span>
                                                </td>
                                                <td class="text-right">

                                                </td>
                                            </tr>`
                            );
                    }
                });
            }

           

            function loadEstimateApproverRemarkList(value) {
                $.ajax({
                    type: "GET",
                    url: "/BudgetApprover/GetApproverRemarkList?estimationId=" + value,
                    data: "{}",
                    success: function(data) {
                        var approvers = data;
                        var commentIcon = '<i class="fa fa-quote-left fa-2x fa-pull-left" aria-hidden="true"></i>';
                        console.log(approvers);
                        if (approvers < 1) {
                            $("#divApproverRemarksList").hide();
                        }
                        for (var i = 0; i < approvers.length; i++) {
                            var d = new Date(approvers[i].feedBackDate);
                            if (approvers[i].estimateStatus == "-500") {
                                statusTag = "<span class='w3-tag w3-red'>Rejected</span>";
                            } else if (approvers[i].estimateStatus == "100") {
                                statusTag = "<span class='w3-tag w3-green'>Approved</span>";
                            } else if (approvers[i].estimateStatus == "-404") {
                                statusTag = "<span class='w3-tag w3-deep-orange'>Rollbacked</span>";
                            }
                            if (approvers[i].feedBack == null)
                                approvers[i].feedBack = 'N/A';
                            $('#tApproverRemarksbody').append(
                                `<tr>
                                    <td>&nbsp;</td>
                                    <td class="approverNameFromFeedBack">` +
                                approvers[i].approverFullName +
                                ` </td>
                                    <td>` +
                                statusTag +
                                `</td>
                                    <td class="approverApprovalDate">` +
                                d.toDateString() +
                                ` ` +
                                d.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) +
                                `</td>
                                    <td class="approverFeedbackFromFeedBack">` +
                                commentIcon +
                                approvers[i].feedBack +
                                `</td>
                                </tr>`);
                        }
                    }
                });
            }

            function loadFundRequistionHistoryByEstimateId(value) {

                $.ajax({
                    type: "GET",
                    url: "/FundRequisition/GetFundRequistionDisburseHistory?estimationId=" + value,
                    data: "{}",
                    success: function(data) {
                        var fundRequistionHistory = data;
                        //console.log('RequistionData');
                        //console.log(fundRequistionHistory);
                        //console.log('SCL FUND requisition History');
                        //console.log(fundRequistionHistory);
                        let totalDisbuseAmount = 0;
                        let totalRequisitionAmount = 0;
                        if (fundRequistionHistory.length == 0) {
                            $("#fundRequistionDisburseHistory").hide();
                        }
                        var formatter = new Intl.NumberFormat('en-IN',
                            {
                                style: 'currency',
                                currency: 'BDT'
                            });

                        for (var i = 0; i < fundRequistionHistory.length; i++) {
                            // var expectedDate = "";
                            //
                            let paymentTypeClass = fundRequistionHistory[i].fundType == "Payment" ? "badge-success" : "badge-primary";
                            var tableRow =
                                `<tr>
                                    <td>&nbsp;</td>
                                    <td class="requistion1">` +
                                    'Requisition-' +
                                    fundRequistionHistory[i].sl +
                                    ` </td>
                                    <td class="departmentName" >` +
                                    fundRequistionHistory[i].departmentName +
                                    `</td><td class="FundType badge ` +
                                    paymentTypeClass +
                                    `" >` +
                                    fundRequistionHistory[i].fundType +
                                    `</td>
                                    <td class="proposedDisburseDate" >` +
                                    fundRequistionHistory[i].proposedDisburseDate +
                                    `</td>
                                    <td class="requisitionAmount">` +
                                    formatter.format(fundRequistionHistory[i].requisitionAmount) +
                                    `</td>
                                `;
                            totalRequisitionAmount += fundRequistionHistory[i].requisitionAmount;
                            


                            if (fundRequistionHistory[i].disburseHistory != null) {
                                var disburseList = JSON.parse(fundRequistionHistory[i].disburseHistory);
                                let isItFirstDisburse = 1;
                                for (var j = 0; j < disburseList.length; j++) {
                                   

                                    if (isItFirstDisburse == 1) {
                
                                        tableRow += `     
                                    <td class="disburseSl">` +
                                            'Disburse-' +
                                            disburseList[j].Sl +
                                            `</td><td class="DisburseDate">` +
                                            disburseList[j].DisburseDate +
                                            `
                                            </td>
                                            
                                    <td class="DisburseAmount" >` +
                                            formatter.format(disburseList[j].DisburseAmount) +
                                            `</tr>`;
                                        totalDisbuseAmount += disburseList[j].DisburseAmount;

                                        $('#TableBodyFundRequistionHistory').append(tableRow);
                                        isItFirstDisburse = 0;
                                        tableRow = "";
                                    } else {
                                        $('#TableBodyFundRequistionHistory').append(`  
                                        <tr>
                                         <td colspan="6"></td>
                                          <td  class="disburseSl">` +
                                            'Disburse-' +
                                            disburseList[j].Sl +
                                            ` </td><td class="DisburseDate">` +
                                            disburseList[j].DisburseDate +
                                            `
                                           </td> <td class="DisburseAmount" >` +
                                            formatter.format(disburseList[j].DisburseAmount) +
                                            `<td></tr>`);
                                        totalDisbuseAmount += disburseList[j].DisburseAmount;
                                    }


                                }
                            } else {
                                $('#TableBodyFundRequistionHistory').append(tableRow + '<td class="disburseSl"></td><td class="DisburseDate"></td><td class="DisburseAmount" ></tr>');
                            }


                            //var jsonValue = fundRequistionHistory[i].disburseHistory;

                            //console.log("--------------------------------------Json ---------------");
                            // console.log(jsonValue);
                            $("#totalRequisitionT").html(formatter.format(totalRequisitionAmount));
                            $("#totalDisburseT").html(formatter.format(totalDisbuseAmount));
                        }
                    }
                });
            }
             function loadFundRequistionHistoryOfOtherDepartmentByEstimateId(value) {
                 //$("#fundRequistionDisburseHistoryOfOtherDepartment").hide();
                $.ajax({
                    type: "GET",
                    url: "/FundRequisition/GetFundRequistionDisburseHistoryOfOtherDepartment?estimationId=" + value,
                    data: "{}",
                    success: function(data) {
                        var fundRequistionHistory = data;
                        console.log(' other department fund history');
                        
                        let totalDisbuseAmount = 0;
                        let totalRequisitionAmount = 0;
                        if (fundRequistionHistory.length == 0) {
                            $("#fundRequistionDisburseHistoryOfOtherDepartment").hide();
                        } 

                        var formatter = new Intl.NumberFormat('en-IN',
                            {
                                style: 'currency',
                                currency: 'BDT'
                            });

                        for (var i = 0; i < fundRequistionHistory.length; i++) {
                            // var expectedDate = "";
                            //
                            let paymentTypeClass = fundRequistionHistory[i].fundType == "Payment" ? "badge-success" : "badge-primary";
                            var tableRow =
                                `<tr>
                                    <td>&nbsp;</td>
                                    <td class="requistion1">` +
                                    'Requistion-' +
                                    fundRequistionHistory[i].sl +
                                    ` </td>
                                    <td class="departmentName" >` +
                                    fundRequistionHistory[i].departmentName +
                                    `</td><td class="FundType badge ` +
                                    paymentTypeClass +
                                    `" >` +
                                    fundRequistionHistory[i].fundType +
                                    `</td>
                                    <td class="proposedDisburseDate" >` +
                                    fundRequistionHistory[i].proposedDisburseDate +
                                    `</td>
                                    <td class="requisitionAmount">` +
                                    formatter.format(fundRequistionHistory[i].requisitionAmount) +
                                    `</td>
                                `;
                            totalRequisitionAmount += fundRequistionHistory[i].requisitionAmount;
                            


                            if (fundRequistionHistory[i].disburseHistory != null) {
                                var disburseList = JSON.parse(fundRequistionHistory[i].disburseHistory);
                                let isItFirstDisburse = 1;
                                for (var j = 0; j < disburseList.length; j++) {
                                   

                                    if (isItFirstDisburse == 1) {
                
                                        tableRow += `     
                                    <td class="disburseSl">` +
                                            'Disburse-' +
                                            disburseList[j].Sl +
                                            `</td><td class="DisburseDate">` +
                                            disburseList[j].DisburseDate +
                                            `
                                            </td>
                                            
                                    <td class="DisburseAmount" >` +
                                            formatter.format(disburseList[j].DisburseAmount) +
                                            `</tr>`;
                                        totalDisbuseAmount += disburseList[j].DisburseAmount;

                                        $('#TableBodyOtherDepartmentFundRequistionHistory').append(tableRow);
                                        isItFirstDisburse = 0;
                                        tableRow = "";
                                    } else {
                                        $('#TableBodyOtherDepartmentFundRequistionHistory').append(`  
                                        <tr>
                                         <td colspan="6"></td>
                                          <td  class="disburseSl">` +
                                            'Disburse-' +
                                            disburseList[j].Sl +
                                            ` </td><td class="DisburseDate">` +
                                            disburseList[j].DisburseDate +
                                            `
                                           </td> <td class="DisburseAmount" >` +
                                            formatter.format(disburseList[j].DisburseAmount) +
                                            `<td></tr>`);
                                        totalDisbuseAmount += disburseList[j].DisburseAmount;
                                    }


                                }
                            } else {
                                $('#TableBodyOtherDepartmentFundRequistionHistory').append(tableRow + '<td class="disburseSl"></td><td class="DisburseDate"></td><td class="DisburseAmount" ></tr>');
                            }


                            //var jsonValue = fundRequistionHistory[i].disburseHistory;

                            //console.log("--------------------------------------Json ---------------");
                            // console.log(jsonValue);
                            $("#otherDepartmentTotalRequisitionT").html(formatter.format(totalRequisitionAmount));
                            $("#otherDepartmentTotalDisburseT").html(formatter.format(totalDisbuseAmount));
                        }
                    }
                });
            }

        });

        /* ================================================ New Fund Requistion Script Start==================================================*/
        //rich text editor configuration
        $('#remarksRichText').summernote({
            placeholder: 'Fund Requistion Remarks',
            tabsize: 2,
            height: 300,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear']],
                ['fontname', ['fontname']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ol', 'ul', 'paragraph', 'height']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['undo', 'redo', 'fullscreen', 'codeview', 'help']]
            ]
        });

        //Preview submit
        $("#submitFundRequisition").click(function() {


            var result = validationCheck();
            console.log(result);
            if (result == false) {
                return;
            }


            var selectedRequisitionType = $("#requisitionTypeDiv input[type='radio']:checked").val();

            // var requisitionType = selectedRequisitionType.val();
            console.log('SCL');
            console.log(selectedRequisitionType);


            fundRequisition = {
                Amount: $("#newAmount").val(),
                Remarks: $("#remarksRichText").val(),
                ProposedDisburseDate: $("#proposedDisburseDate").val(),
                EstimationId: $("#estimateId").val(),
                Type: selectedRequisitionType
            };


            var fundRequistionAttachment = [];

            formData = new FormData();
            //for (var i = 0; i < filelist.length; i++) {
            //    if (jQuery.isEmptyObject(filelist[i])) {
            //        console.log("skip");
            //        continue;
            //    }
            //    formData.append(filelist[i].name, filelist[i]);
            //}
            fundRequistionAttachment = formData;

            fundRequisitionDataPostToServer(fundRequisition, fundRequistionAttachment);
        });


        //validation
        function validationCheck() {

            var response = true;

            var newAmount = $("#newAmount").val();
            var remainingBudget = $("#remainingBudget").val();
            var totalAllowableBudget = $("#TotalAllowableBudget").val();
            var departmentWiseTotalAllowableBudget = $("#DepartmentWiseTotalAllowableBudget").val();
            var totalRequisitionAmount = $("#TotalRequisitionAmount").val();
            var departmentWiseTotalRequisition = $("#DepartmentWiseTotalRequisition").val();
            var remainingBudget = $("#remainingBudget").val();
            var departmentWiseRemainingBudget = $("#DepartmentWiseRemainingBudget").val();
            var proposedDisburseDate = $("#proposedDisburseDate").val();
            var remarks = $("#remarksRichText").val();

            showErrorMessageBelowCtrl('newAmount', 'please input new budget amount555', false);
            showErrorMessageBelowCtrl('proposedDisburseDate', 'please select Proposed555 Disburse date', false);
            showErrorMessageBelowCtrl('remarksRichText', 'please select Proposed555 Disburse date', false);

            if (newAmount.length <= 0) {
                showErrorMessageBelowCtrl('newAmount', 'please input new budget amount', true);
                response = false;
                $('html, body').animate({
                        scrollTop: $("#newAmount").offset().top
                    },
                    800);
            } else {

                if (Number(newAmount) > Number(departmentWiseRemainingBudget)) {
                    
                    showErrorMessageBelowCtrl('newAmount', 'please input new  amount less then your own remaining budget ', true);
                    response = false;
                    $('html, body').animate({
                            scrollTop: $("#newAmount").offset().top
                        },
                        800);



                } else {

                    if (Number(newAmount) > Number(remainingBudget)) {

                        showErrorMessageBelowCtrl('newAmount', 'Now You are allowed to take maximum ' + remainingBudget + ', cause Other Departmet already ' +
                            'taken the partial amount from your allowable Budget', true);
                        response = false;
                        $('html, body').animate({
                                scrollTop: $("#newAmount").offset().top
                            },
                            800);


                    } else {
                        showErrorMessageBelowCtrl('newAmount', 'please input new  amount less then remaining budget 77', false);
                    }

                     
                   
                }
            }


            if (remarks.length <= 0) {
                showErrorMessageBelowCtrl('remarksRichText', 'please input remarks field', true);
                response = false;
                $('html, body').animate({
                        scrollTop: $("#remarksRichText").offset().top
                    },
                    800);
            } else {
                showErrorMessageBelowCtrl('remarksRichText', 'please input remarks field', false);
            }

            if (proposedDisburseDate.length <= 0) {
                showErrorMessageBelowCtrl('proposedDisburseDate', 'please select Proposed Disburse date', true);
                response = false;
                $('html, body').animate({
                        scrollTop: $("#proposedDisburseDate").offset().top
                    },
                    800);
            } else {
                showErrorMessageBelowCtrl('proposedDisburseDate', 'please select Proposed Disburse date', false);
            }


            return response;
        }

        //Reset the Fund Requistion Form

        $(document).on('click',
            '#clearbtn',
            function() {
                console.log('hh');
                $("#fundRequisitionForm")[0].reset();
                $('#remarksRichText').summernote('reset');
            });


        function fundRequisitionDataPostToServer(data, estimationAttachment) {
            console.log('fundRequisitionDataPostToServer hit .... ');
            var dataJson = JSON.stringify(data);
            var postData = {
                "requestDto": dataJson
            };
            console.log(postData);
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: "/FundRequisition/PostNewFundRequistion",
                context: document.body,
                data: postData,
                beforeSend: function() {
                    $.blockUI({
                        timeout: 0,
                        message: 'Processing..'
                    });
                },
                success: function(response) {
                    if (parseInt(response) > 0) {
                        //postEstimateAttachment(parseInt(response), estimationAttachment);
                        $.unblockUI();
                        alertify.alert('SUCCESS',
                            'Fund Requisiton Submit Successfully!',
                            function() {
                                window.location = "/FundRequisition/SubmitedFundRequistionList";
                            });
                    } else {
                        alertify.alert('Something went wrong! please try again.');
                    }
                },
                complete: function() {
                    $.unblockUI();
                },
                failure: function(response) {
                    $.unblockUI();
                    alert(response.responseText);
                },
                error: function(response) {
                    $.unblockUI();
                    alert(response.responseText);
                }
            });
        }


        /*==================================================== New Fund Requistion Script END =====================================*/


    </script>
}