@inject Services.Managers.Contracts.ISessionManager _sessionManager
@{
    var user = await _sessionManager.GetUser();
    var CountPendingForNav = (Models.ServiceModels.Dashboard.GetCountForAllPendingParkingForNavService)ViewData["CountPendingObject"];
}
<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion text-white" id="accordionSidebar" style="height:auto">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-page="/Index">
        <div class="sidebar-brand-text mx-3">@(user.First_Name + " " + user.Last_Name)<sup></sup></div>
    </a>
    <li class="nav-item active">
        <a class="nav-link active" asp-page="/Index"><i class="fa fa-home"></i><span>Home</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-page="/Account/Profile"><i class="fa fa-user"></i><span>Profile</span></a>
    </li>
    <li class="nav-item" asp-permission-group="@PermissionGroupConstants.Admin">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseAdmin" aria-expanded="true" aria-controls="collapseAdmin">
            <i class="fas fa-fw fa-money-bill"></i><span>Settings</span>
        </a>
        <div id="collapseAdmin" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Fund Disburse</h6>
                <a class="collapse-item" asp-permission="@PermissionKeys.ManageUsers" asp-page="/Admin/Users/Index" method="get"><i class="fas fa-fw fa-users"></i> &nbsp;Users</a>
                <a class="collapse-item" asp-permission="@PermissionKeys.ManageRoles" asp-page="/Admin/Roles/Index" method="get"><i class="fas fa-fw fa-user-shield"></i> &nbsp;Roles</a>
                <a class="collapse-item" asp-permission="@PermissionKeys.ManageRoles" asp-page="/Admin/Permissions/Index" method="get"><i class="fas fa-fw fa-universal-access "></i> &nbsp;Permission</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#modalLogout"><i class="fa fa-sign-out-alt"></i>Logout</a>
    </li>
</ul>