@inject AMS.Services.Managers.Contracts.ISessionManager _sessionManager
@{
    var user = await _sessionManager.GetUser();
    var CountPendingForNav = (Models.ServiceModels.Dashboard.GetCountForAllPendingParkingForNavService)ViewData["CountPendingObject"];
}
<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion text-white" id="accordionSidebar" style="height:auto">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-page="/Index">
        <div class="sidebar-brand-icon rotate-n-15">
        </div>
        <div class="sidebar-brand-text mx-3">AMS System<sup></sup></div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" asp-page="/Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Home</span>
        </a>
    </li>

    <div asp-permission-group="@PermissionGroupConstants.Admin">

        <hr class="sidebar-divider" />

        <div class="sidebar-heading">
            Admin
        </div>

    <li class="nav-item" asp-permission="@PermissionKeys.ManageUsers">
        <a class="nav-link" asp-page="/Admin/Users/Index">
            <i class="fas fa-fw fa-users"></i>
            <span>Users</span>
        </a>
    </li>

    <li class="nav-item" asp-permission="@PermissionKeys.ManageRoles">
        <a class="nav-link" asp-page="/Admin/Roles/Index">
            <i class="fas fa-fw fa-user-shield"></i>
            <span>Roles</span>
        </a>
    </li>

    <li class="nav-item" asp-permission="@PermissionKeys.ManageConfiguration">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdmin" aria-expanded="true" aria-controls="collapseAdmin">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Configuration</span>
        </a>
        <div id="collapseAdmin" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Global</h6>
                <a class="collapse-item" asp-page="/Admin/Configuration/Index">Application</a>

                <h6 class="collapse-header">Lookups</h6>
                <a class="collapse-item" asp-page="/Admin/Permissions/Index">Permissions</a>
                <a class="collapse-item" asp-page="/Admin/SessionEvents/Index">Session Events</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseAdminSetup" aria-expanded="true" aria-controls="collapseAdminSetup">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Admin Setup</span>
        </a>
        <div id="collapseAdminSetup" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Item</h6>
                <a class="collapse-item" asp-controller="AdminSetup" asp-action="ItemCategoryCreate" method="get"><i class="fas fa-plus-square" aria-hidden="true"></i> &nbsp;Add Item Category</a>
                <a class="collapse-item" asp-controller="AdminSetup" asp-action="ParticularCreate" method="get"><i class="fas fa-plus-square" aria-hidden="true"></i> &nbsp;Add Particular</a>
                <a class="collapse-item" asp-controller="AdminSetup" asp-action="AmsItemCreate" method="get"><i class="fas fa-plus-square" aria-hidden="true"></i> &nbsp;Add AMS Item</a>
                <a class="collapse-item" asp-controller="AdminSetup" asp-action="ItemCreate" method="get"><i class="fas fa-plus-square" aria-hidden="true"></i> &nbsp;Add IMS Item</a>
                <h6 class="collapse-header">Approver</h6>
                <a class="collapse-item" asp-controller="AdminSetup" asp-action="ApproverModification" method="get"><i class="fa fa-file-archive" aria-hidden="true"></i>&nbsp;Approver Modification</a>
                <a class="collapse-item" asp-controller="AdminSetup" asp-action="ApproverRoleModification" method="get"><i class="fa fa-file-archive" aria-hidden="true"></i>&nbsp;Update Approver Role</a>
                <h6 class="collapse-header">Request</h6>
                <a class="collapse-item" asp-controller="AdminSetup" asp-action="UpdateRequestStatus" method="get"><i class="fa fa-file-archive" aria-hidden="true"></i>&nbsp;Update Request Status</a>
                <h6 class="collapse-header">User Info</h6>
                <a class="collapse-item" asp-controller="AdminSetup" asp-action="UserDepartmentUpdate" method="get"><i class="fa fa-file-archive" aria-hidden="true"></i>&nbsp;User Department Update</a>
            </div>
        </div>
    </li>

    </div>


    <div asp-permission-group="@PermissionGroupConstants.User">
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseEstimation" aria-expanded="true" aria-controls="collapseEstimation">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Estimation</span>
        </a>
        <div id="collapseEstimation" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar" asp-permission="@PermissionKeys.CreateEstimation">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Budget</h6>
                <a class="collapse-item" asp-controller="BudgetEstimation" asp-action="Index" method="get"><i class="fas fa-plus-square" aria-hidden="true"></i> &nbsp;Add Budget</a>
                <a class="collapse-item" asp-controller="BudgetEstimation" asp-action="draftlist" method="get"><i class="fa fa-file-archive" aria-hidden="true"></i>&nbsp;Drafts  <span class="badge badge badge-info">@CountPendingForNav.TotalDraftParking</span></a>
                    @if (user.CanRollBack)
                    {
                    <a class="collapse-item" asp-controller="BudgetEstimation" asp-action="OnGoingApprovalForInitiator" method="get"><i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;Ongoing List</a>
                    }
                <a class="collapse-item" asp-controller="BudgetApprover" asp-action="CompleteList"><i class="fa fa-tasks" style="color: green"></i>&nbsp;Completed <span class="badge badge badge-info">@CountPendingForNav.TotalCompletedParking</span></a>

                <h6 class="collapse-header">Rejected List</h6>
                <a class="collapse-item" asp-controller="BudgetEstimation" asp-action="RollbackList" method="get"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;&nbsp;Rollback <span class="badge badge badge-info">@CountPendingForNav.TotalRollbackParking</span></a>
                    @*<a class="collapse-item" asp-page="/Admin/SessionEvents/Index">Session Events</a>*@
            </div>
        </div>
    </li>

    <li class="nav-item" asp-permission="@PermissionKeys.Approvalparking">
        <a class="nav-link" asp-controller="BudgetApprover" asp-action="Index" method="get">
            <i class="fas fa-fw fa-money-bill-wave" aria-hidden="true"></i>
            <span>Pending Approval </span><span class="badge badge badge-info" style="font-size: 10px;">@CountPendingForNav.TotalPendingApprovalParking</span>
        </a>
    </li>
    <li class="nav-item" asp-permission="@PermissionKeys.CompleteStatusBoard">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseBudgetStatus" aria-expanded="true" aria-controls="collapseBudgetStatus">
            <i class="fas fa-columns"></i>
            <span>Status Board</span>
        </a>
        <div id="collapseBudgetStatus" class="collapse " aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">


                <h6 class="collapse-header">Budget Running</h6>
                <a class="collapse-item" asp-controller="statusboard" asp-action="RunningBoard">
                    <i class='fas fa-running fa-running'></i> Running
                </a>

                <h6 class="collapse-header">Budget Completed</h6>

                <a class="collapse-item" asp-controller="statusboard" asp-action="CompletedEstimateBudget">
                    <i class="fa fa-tasks" style="color: green"></i> Completed
                </a>

                <h6 class="collapse-header">Budget Rejected</h6>
                <a class="collapse-item" asp-controller="statusboard" asp-action="RejectedBoard">
                    <i class="fa fa-times" style="color: red" aria-hidden="true"></i> Rejected
                </a>
            </div>
        </div>
    </li>

    <li class="nav-item" asp-permission="@PermissionKeys.CompleteFollowingBoard">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseFollowing" aria-expanded="true" aria-controls="collapseBudgetStatus">
            <i class="fas fa-columns"></i>
            <span>Following Estimation Board</span>
        </a>
        <div id="collapseFollowing" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">


                <h6 class="collapse-header">Budget Pending</h6>

                <a class="collapse-item" asp-permission="@PermissionKeys.PendingBudgetForSepecificUser" asp-controller="BudgetApprover" asp-action="PendingParkingSpecificUser">
                    <i class='fas fa-running fa-running'></i> Pending
                </a>
                <h6 class="collapse-header">Budget Running</h6>
                <a class="collapse-item" asp-permission="@PermissionKeys.RunningBudgetForSepecificUser" asp-controller="StatusBoard" asp-action="RunningFollowingStatusBoard">
                    <i class="fas fa-running fa-running" style="color: blue" aria-hidden="true"></i>Running Status Board
                </a>

                <a class="collapse-item" asp-permission="@PermissionKeys.RunningBudgetForSepecificUser" asp-controller="BudgetApprover" asp-action="AllRunningBudgetParkingForSpecificUser">
                    <i class='fas fa-running fa-running'></i>  Running List
                </a>
                <h6 class="collapse-header">Budget Completed</h6>
                <a class="collapse-item" asp-permission="@PermissionKeys.AllBudgetForSepecificUser" asp-controller="BudgetApprover" asp-action="AllBudgetParkingForSpecificUserExceptPending">
                    <i class='fas fa-running fa-running'></i> Completed
                </a>

                <h6 class="collapse-header">Budget Rejected</h6>
                <a class="collapse-item" asp-permission="@PermissionKeys.RejectedBudgetForSepecificUser" asp-controller="BudgetApprover" asp-action="AllRejectedBudgetParkingForSpecificUser">
                    <i class="fa fa-times" style="color: red" aria-hidden="true"></i> Rejected
                </a>


            </div>
        </div>
    </li>
    <li class="nav-item" asp-permission="@PermissionKeys.CompleteFollowingBoard">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseFollowingSettlement" aria-expanded="true" aria-controls="collapseBudgetStatus">
            <i class="fas fa-columns"></i>
            <span>Following Settlement Board</span>
        </a>
        <div id="collapseFollowingSettlement" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-permission="@PermissionKeys.PendingBudgetForSepecificUser" asp-controller="SettlementApprover" asp-action="FollowerSettlementList">
                    <i class='fas fa-running fa-running'></i> Followers Settlement
                </a>
            </div>
        </div>
    </li>
    <li class="nav-item" asp-permission-group="@PermissionGroupConstants.FundRequisition">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseFundRequisition" aria-expanded="true" aria-controls="collapseAdmin">
            <i class="fas fa-fw fa-money-bill"></i>
            <span>Fund Requisition</span>
        </a>
        <div id="collapseFundRequisition" class="collapse " aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header" asp-permission="@PermissionKeys.FUND_REQ_INIT">Budget</h6>
                <a class="collapse-item" asp-permission="@PermissionKeys.FUND_REQ_INIT" asp-controller="FundRequisition" asp-action="ApprovedBudgetList" method="get"><i class="fas fa-list" aria-hidden="true"></i> &nbsp;All Approved Budget</a>


                <h6 class="collapse-header">Fund  Requisition</h6>
                <a class="collapse-item" asp-permission="@PermissionKeys.SubmittedFundRequisitionList" asp-controller="FundRequisition" asp-action="SubmitedFundRequistionList" method="get"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;Sumitted List  <span class="badge badge badge-info"></span></a>
                <a class="collapse-item" asp-permission="@PermissionKeys.RejectedFundRequisitionList" asp-controller="FundRequisition" asp-action="RejectedFundRequistionList" method="get"><i class="fa fa-times" style="color: red" aria-hidden="true"></i>&nbsp;&nbsp;Rejected List  <span class="badge badge badge-info"></span></a>
                <a class="collapse-item" asp-permission="@PermissionKeys.CompletedFundRequisitionList" asp-controller="FundRequisition" asp-action="CompletedFundRequistionList" method="get"><i class="fa fa-tasks" style="color: green"></i>&nbsp;&nbsp;Completed List  <span class="badge badge badge-info"></span></a>
                <div asp-permission-group="@PermissionGroupConstants.FundDisburse">
                    <h6 class="collapse-header">Fund Disburse  </h6>
                    <a class="collapse-item" asp-permission="@PermissionKeys.FUND_DISBURSE_PENDING" asp-controller="FundDisburse" asp-action="PendingListForRequisitionDepartment" method="get"><i class="fa fa-hourglass-end" aria-hidden="true"></i>&nbsp;&nbsp;  Ack. Pending  <span class="badge badge badge-info"></span></a>

                    <a class="collapse-item" asp-permission="@PermissionKeys.FUND_DISBURSE_COMPLETED" asp-controller="FundDisburse" asp-action="CompletedDisburseListDepartmentWise" method="get"><i class="fa fa-tasks" style="color: green"></i>&nbsp;&nbsp;  Completed  <span class="badge badge badge-info"></span></a>

                </div>
            </div>
        </div>
    </li>

    <li class="nav-item" asp-permission-group="@PermissionGroupConstants.FundDisburseFinance">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseFundDisburse" aria-expanded="true" aria-controls="collapseAdmin">
            <i class="fas fa-fw fa-money-bill"></i>
            <span>Fund Disburse (Finance)</span>
        </a>
        <div id="collapseFundDisburse" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Fund Disburse</h6>
                <a class="collapse-item" asp-permission="@PermissionKeys.FUND_DISBURSE_PENDING_FINANCE" asp-controller="FundRequisition" asp-action="FundRequistionListForFinance" method="get"><i class="fa fa-hourglass-end" aria-hidden="true"></i> &nbsp;Pending Req.</a>
                <a class="collapse-item" asp-permission="@PermissionKeys.FUND_DISBURSE_BY_FINANCE_WAITING_FOR_ACKNOWLEDGE" asp-controller="FundDisburse" asp-action="FundDisburseByFinanceWaitingForAcknowledge" method="get"><i class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp; Fund  Submitted</a>
                <a class="collapse-item" asp-permission="@PermissionKeys.FUND_DISBURSE_ROLLBACK_FINANCE" asp-controller="FundDisburse" asp-action="PendingRollBackListForReSubmitByFinance" method="get"><i class="fas fa-undo" aria-hidden="true"></i> &nbsp;RollBack </a>
                <a class="collapse-item" asp-permission="@PermissionKeys.FUND_DISBURSE_COMPLETED_FINANCE" asp-controller="FundDisburse" asp-action="CompletedDisburseListDepartmentWise" method="get"><i class="fa fa-tasks" style="color: green"></i>&nbsp;&nbsp;  Completed  <span class="badge badge badge-info"></span></a>
                <a class="collapse-item" asp-permission="@PermissionKeys.FUND_REQUISITION_REJECTED_FINANCE" asp-controller="FundRequisition" asp-action="RejectedFundRequistionListForFinance" method="get"><i class="fa fa-times" style="color: red" aria-hidden="true"></i>&nbsp;&nbsp;  Rejected Req.  <span class="badge badge badge-info"></span></a>

            </div>
        </div>
    </li>


    <li class="nav-item" asp-permission-group="@PermissionGroupConstants.Settlement">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseSettlement" aria-expanded="true" aria-controls="collapseAdmin">
            <i class="fas fa-fw fa-money-bill"></i>
            <span>Settlement</span>
        </a>
        <div id="collapseSettlement" class="collapse " aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-permission="@PermissionKeys.SETTLEMENT_REQ_INIT" asp-controller="Settlement" asp-action="ReadyToSettlementList" method="get"><i class="fas fa-list" aria-hidden="true"></i> &nbsp;Ready For Settlement</a>
                <a class="collapse-item" asp-permission="@PermissionKeys.SETTLEMENT_ON_GOING" asp-controller="Settlement" asp-action="SettlementList" method="get"><i class="fas fa-list" aria-hidden="true"></i> &nbsp;Settlement List</a>
            </div>
        </div>
    </li>

    <div asp-permission-group="@PermissionGroupConstants.Memo">
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseEstimationMemo"
           aria-expanded="true" aria-controls="collapseEstimationMemo">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Memo</span>
        </a>
        <div id="collapseEstimationMemo" class="collapse " aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-controller="BudgetMemo" asp-action="ReadyForMemoList" method="get"><i class="fas fa-list" aria-hidden="true"></i> &nbsp;Ready For Memo</a>
                <a class="collapse-item" asp-controller="BudgetMemo" asp-action="MyList" method="get"><i class="fas fa-list" aria-hidden="true"></i> &nbsp;My List</a>
                <a class="collapse-item" asp-controller="BudgetMemo" asp-action="MyApprovals" method="get"><i class="fas fa-list" aria-hidden="true"></i> &nbsp;My Approvals</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseMemoStatus" aria-expanded="true" aria-controls="collapseMemoStatus">
            <i class="fas fa-columns"></i>
            <span>Memo Status Board</span>
        </a>
        <div id="collapseMemoStatus" class="collapse " aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <div asp-permission="@PermissionKeys.MEMO_STATUS_BOARD_RUNNING">
                    <h6 class="collapse-header">Memo Running</h6>
                    <a class="collapse-item" asp-controller="statusboard" asp-action="RunningMemoBudgetStatusBoard">
                        <i class='fas fa-running fa-running'></i> Running
                    </a>
                </div>

                <div asp-permission="@PermissionKeys.MEMO_STATUS_BOARD_COMPLETED">
                    <h6 class="collapse-header">Memo Completed</h6>
                    <a class="collapse-item" asp-controller="statusboard" asp-action="CompletedMemoBudgetStatusBoard">
                        <i class="fa fa-tasks" style="color: green"></i> Completed
                    </a>
                </div>


            </div>
        </div>
    </li>
    </div>
    </div>
</ul>