@{
    var settlementSummaryCount = (AMS.Models.ServiceModels.Settlement.SettlementSummaryVM)ViewData["SettlementSummary"];
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <section class="col-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li role="presentation" class="nav-item">
                    <a href="#" class="nav-link active" data-toggle="tab" aria-controls="" role="tab" title="Pending" id="pending" style="font-weight:bold">Pending<b style="margin-left:5px;color:red">(<span>@settlementSummaryCount.Pending</span>)</b></a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#" class="nav-link" data-toggle="tab" aria-controls="" role="tab" title="Draft" id="draft" style="font-weight:bold">Draft<b style="margin-left:5px;color:red">(<span>@settlementSummaryCount.Draft</span>)</b></a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#" class="nav-link" data-toggle="tab" aria-controls="" role="tab" title="RollBack" id="rollBack" style="font-weight:bold">RollBack<b style="margin-left:5px;color:red">(<span>@settlementSummaryCount.CR</span>)</b></a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#" class="nav-link" data-toggle="tab" aria-controls="" role="tab" title="Completed" id="completed" style="font-weight:bold">Completed<b style="margin-left:5px;color:red">(<span>@settlementSummaryCount.Completed</span>)</b></a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#" class="nav-link" data-toggle="tab" aria-controls="" role="tab" title="Rejected" id="rejected" style="font-weight:bold">Rejected<b style="margin-left:5px;color:red">(<span>@settlementSummaryCount.Rejected</span>)</b></a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#" class="nav-link" data-toggle="tab" aria-controls="" role="tab" title="All" id="all" style="font-weight:bold">All<b style="margin-left:5px;color:red">(<span>@settlementSummaryCount.Total</span>)</b></a>
                </li>
            </ul>

            <form role="form">
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel">
                        <div class="datatable mt-3">
                            <div id="alertNotification"></div>
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover table-striped dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>SL.</th>
                                            <th>Settlement</th>
                                            <th>Amount (tk.)</th>
                                            <th>Action</th>
                                            <th>Workflow</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-left">
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function() {
            var pageSize = 10;
            loadDataByStatus(2);
            $("#pending").click(function () {
                loadDataByStatus(2);
            });
            $("#draft").click(function () {
                loadDataByStatus(5);
            });
            $("#rollBack").click(function () {
                loadDataByStatus(-404);
            });
            $("#completed").click(function () {
                loadDataByStatus(100);
            });
            $("#rejected").click(function () {
                loadDataByStatus(-500);
            });
            $("#all").click(function () {
                loadDataByStatus(0);
            });
            function loadDataByStatus(statusId) {
                $('#dataTable').dataTable({
                    dom: "rtiplf",
                    responsive: true,
                    destroy: true,
                    searching: false,
                    processing: true,
                    ordering: false,
                    language: {
                        processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
                    },
                    serverSide: true,
                    displayLength: 10,
                    order: [[0, "desc"]],
                    ajax: {
                        url: "/Settlement/LoadSettlementByStatus",
                        type: 'POST',
                        data: function(d) {
                            d.statusId = statusId;
                        }
                    }
                });
            }
        });
    </script>
}
