@model AMS.Models.ServiceModels.BudgetEstimate.SingleEstimationWithTypeResponse
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@using AMS.Models.DomainModels
@inject AMS.Services.Managers.Contracts.ISessionManager _sessionManager
@{
    UserEntity? user = await _sessionManager.GetUser();
}
<div class="hiddenElements">
    <input id="estimateId"
           type="hidden"
           value="@Model.Estimation.EstimateId"/>
</div>
<div class="container-fluid">
    <form id="form">
        <div class="card border-secondary mb-4">
            <div class="card-header">
                <b>View Estimate Budget</b>
                <a id="btnDownloadExcelReport"
                   style="margin-left: 5px;"
                   href="/ReportGenarator/SingleEstimateReport?id=@Model.Estimation.EstimateId"
                   class="btn btn-info float-right">
                    <span class="icon text-gray-100">
                        <i class="fas fa-file-excel"></i>
                    </span>
                </a>

                <a id="btnDownloadPdfReport" href="/ReportGenarator/SinglePdfEstimateReport?id=@Model.Estimation.EstimateId" class="btn btn-info float-right">
                    <span class="icon text-gray-100">
                        <i class="fas fa-file-pdf"></i>
                    </span>
                </a>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="form-group required row">
                        <label for="approvalForDropDown" class="col-sm-2 col-form-label-sm control-label">Approval For</label>
                        <div class="col-sm-4">
                            <select class="form-control" aria-label=".form-select-sm example" id="approvalForDropDown" disabled>
                                <option value="@Model.Estimation.EstimationTypeId" selected>@Model.Estimation.EstimationTypeName</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="IdentificationTextId" class="col-sm-2 col-form-label-sm control-label">Idenfication</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="IdentificationTextId" value="@Model.Estimation.EstimationIdentifier" disabled />
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="subjectTextId" class="col-sm-2 col-form-label-sm control-label">Subject</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="subjectTextId" disabled />
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="card secondary mb-4 procurementApprovalDiv">
            <div class="card-header">
                <b>Background</b>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="form-group required row">
                        <label for="paReferenceNumberTextId" class="col-sm-2 col-form-label-sm control-label">PA. Reference No.</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="paReferenceNumberTextId" disabled />
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="titleOfPRorRFQTextId" class="col-sm-2 col-form-label-sm control-label">Title of the PR/RFQ</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="titleOfPRorRFQTextId" disabled />
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="RFQReferNoTextId" class="col-sm-2 col-form-label-sm control-label">RFQ Reference No.</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="RFQReferNoTextId" disabled />
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="PRReferenceNoTextId" class="col-sm-2 col-form-label-sm control-label">PR Reference No.</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="PRReferenceNoTextId" disabled />
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="NameAndCellRequesterTextId" class="col-sm-2 col-form-label-sm control-label">Name and Cell No. of Requester</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nameAndCellRequesterTextId" disabled />
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="deptOrDivTextId" class="col-sm-2 col-form-label-sm control-label">Department/Division</label>
                        <div class="col-sm-10">
                            @*<input type="text" class="form-control" id="" required />*@
                            <select class="form-control" aria-label=".form-select-sm" id="deptOrDivTextId" disabled>
                                <option value="-1" selected>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="RFQProcessTextId" class="col-sm-2 col-form-label-sm control-label">RFQ Process</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="RFQProcessTextId" disabled />
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="sourcingMethodTextId" class="col-sm-2 col-form-label-sm control-label">Sourcing Method</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sourcingMethodTextId" disabled />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card secondary mb-4 procurementApprovalDiv">
            <div class="card-header">
                <b>Award Recommandation</b>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="form-group required row">
                        <label for="nameSupplierTextId" class="col-sm-2 col-form-label-sm control-label">Name of the Recommended Supplied</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nameSupplierTextId" disabled />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="purchaseValueTextId" class="col-sm-2 col-form-label-sm">Purchase Value</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="purchaseValueTextId" style="height: 200px;" aria-label="With textarea" disabled></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="savingAmountTextId" class="col-sm-2 col-form-label-sm">Saving Amount</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="savingAmountTextId" style="height: 200px;" aria-label="With textarea" disabled></textarea>
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="savingTypeDropDown" class="col-sm-2 col-form-label-sm control-label">Saving Type</label>
                        <div class="col-sm-4">
                            <select class="form-control" aria-label=".form-select-sm example" id="savingTypeDropDown" disabled>
                                <option value="None">Select</option>
                                <option value="CostAvoidance">Cost Avoidance</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-secondary mb-4">
            <div class="card-header">
                <b>Budget Descriptions</b>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="form-group row">
                        <label for="objectiveTextId" class="col-sm-2 col-form-label-sm">Objective</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="objectiveTextId" aria-label="With textarea" style="height: 200px;" disabled>@Model.Estimation.EstimationObjective</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="textEditorEstimation" class="col-sm-2 col-form-label-sm">Details</label>
                        <div class="col-sm-10">
                            <textarea id="textEditorEstimation" name="detailsData" disabled>@Model.Estimation.EstimationDetails</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label-sm">Plan Date</label>
                        <div class="col-sm-4">
                            <label for="datetimepickerEstimationStartDate" class="col-form-label-sm control-label">Start</label>
                            <input readonly="readonly" @*type="datetime-local"*@ id="datetimepickerEstimationStartDate" class="form-control datepicker" disabled />
                        </div>
                        <div class="col-sm-4">
                            <label for="datetimepickerEstimationEndDate" class="col-form-label-sm control-label">End</label>
                            <input readonly="readonly" @*type="datetime-local"*@ id="datetimepickerEstimationEndDate" class="form-control datepicker" disabled />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="estimationfiles" class="col-sm-2 col-form-label-sm">Attachments</label>
                        <div class="col-sm-4">
                            <table class="table table-sm">
                                <tr id="attachmentsTable"></tr>
                            </table>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="creatortext" class="col-sm-2 col-form-label-sm control-label">Created By</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="creatortext" value="@Model.Estimation.CreateorFullName" disabled />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="creationDateTxt" class="col-sm-2 col-form-label-sm control-label">Creation Time</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="creationDateTxt" value="@Model.Estimation.CreatedDate.ToString("f")" disabled />
                        </div>
                    </div>
                    <div class="form-group row" id="totalPriceDiv">
                        <label for="totalPriceText" class="col-sm-2 col-form-label-sm control-label">Total Price</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control numbersOnly" id="totalPriceText" value="@Model.Estimation.EstimaionTotalPrice" disabled />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="card border-secondary mb-4">
                <div class="card-header">
                    <b>Budget Summary View</b>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm">
                            <div class="summaryHead">
                                <h1>Department Wise Summary</h1>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-sm table-hover table-bordered departmentWiseSummaryTable"
                                       id="TableDepartmentWishSummary" style="float: left">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th class="text-left" scope="col">Departments</th>
                                            <th class="text-right" scope="col">Total Allowed Budget (TK.)</th>
                                            <th class="text-right" scope="col">Total Cost (TK.)</th>
                                            <th class="text-right" scope="col">Deviation</th>
                                            <th class="text-right" scope="col">Percentage</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tDepartSummarybody" style="text-align: left">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="summaryHead">
                                <h1>Particular Wise Summary</h1>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-sm table-hover table-bordered particularWiseSummaryTable"
                                       id="TableParticularWishSummary" style="float: left">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th class="text-left" scope="col">Particulars</th>
                                            <th class="text-right" scope="col">Total Price (TK.)</th>
                                            <th class="text-right" scope="col">Total Cost (TK.)</th>
                                            <th class="text-right" scope="col">Deviation</th>
                                            <th class="text-right" scope="col">Percentage</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tPartiSummarybody" style="text-align: left">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-secondary mb-4 " id="AddParticularSection">
            <div class="card-header">
                <b>Particular Items and Details</b>
            </div>
            <div class="card-body">
                <div id="AddParticularSection">
                    <div class="container-fluid">
                        <div class="large-table-fake-top-scroll-container-3">
                            <div>&nbsp;</div>
                        </div>
                        <div class="table-responsive large-table-container-3" id="particularItemTableId">
                            <table class="table table-responsive-md table-hover table-bordered particularItemsAndDetailsTable" id="particularItemsDetails">
                                <thead style="position: sticky; top: 0" class="thead-dark">
                                    <tr>
                                        <th>#</th>
                                        <th scope="col" hidden>EstimateSettleIItemId</th>
                                        <th scope="col" col span="2">Particular </th>
                                        <th scope="col">Item Category</th>
                                        <th scope="col">Item</th>
                                        <th scope="col">Item Code</th>
                                        <th scope="col">Unit</th>
                                        <th scope="col">No. Of Machine /Usages /Team /Car</th>
                                        <th scope="col">No. Of Day /Total Unit</th>
                                        <th scope="col">Required Quantity</th>
                                        <th scope="col">Unit Price(Budget)</th>
                                        <th scope="col">Total Price(Budget)</th>
                                        <th scope="col">Responsible Department</th>
                                        <th scope="col">District</th>
                                        <th scope="col">Thana</th>
                                        <th scope="col">Area Type</th>
                                        <th scope="col">Settle Actual Quantity</th>
                                        <th scope="col">Settled Cost</th>

                                    </tr>
                                </thead>
                                <tbody id="tbody" style="text-align: left">
                                </tbody>
                                <tfoot align="right">

                                    <tr>
                                        @*<td colspan="4"><span id="validationMsgOnParticular" style="color:red"></span></td>*@
                                        <td id="sumOfTotalPrice" hidden>@Model.Estimation.EstimaionTotalPrice</td>
                                        <td colspan="11" style="font-weight: bold;" id="sumOfTotalPriceShow"></td>
                                        <td colspan="5" style="font-weight: bold;" id="sumOfTotalQuantitySettlement"> </td>
                                        <td colspan="1" style="font-weight: bold;" id="sumOfTotalPriceSettlement"> </td>

                                        <td>
                                            <span id="validationMsgOnDepartment" style="color: red"></span>
                                        </td>
                                        <td colspan="2">
                                            <span id="validationMsgOnThana" style="color: red"></span>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>

                    <br />


                    <br />

                </div>
            </div>
        </div>


        <br />

        @{
            var settlementId = ViewBag.Settlement == null ? -1 : ViewBag.Settlement.Id;
        }

        <input id="settlementId"
               type="hidden"
               value="@settlementId" />


    </form>
<div class="modal fade bd-example-modal-xl" id="MemoItemDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalLabel">Item Settlement Details</h4>
            </div>
            <div class="modal-body">
                <div align='center' style='font-family:Calibri; font-size:100%;' class="table-responsive">
                    <table class="table table-striped" id="modalItemDetails">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Particular</th>
                            <th scope="col">Item Category</th>
                            <th scope="col">Item</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total Price</th>
                            <th scope="col">Remarks</th>
                        </tr>
                        </thead>
                        <tbody id="settleItemDetail">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</div>


@section Scripts{

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/AjaxCall/GetDataFromDbForBudetEstimationPage.js"></script>
    <script src="~/js/alertify.js"></script>
    <script src="~/js/jquery.blockUI.js"></script>
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/floating-scroll@3.2.0/dist/jquery.floatingscroll.min.js"></script>*@
    <script>
        $(function () {
            var tableContainer = $(".large-table-container-3");
            var table = $(".large-table-container-3 table");
            var fakeContainer = $(".large-table-fake-top-scroll-container-3");
            var fakeDiv = $(".large-table-fake-top-scroll-container-3 div");

            var tableWidth = table.width();
            fakeDiv.width(tableWidth);

            fakeContainer.scroll(function () {
                tableContainer.scrollLeft(fakeContainer.scrollLeft());
            });
            tableContainer.scroll(function () {
                fakeContainer.scrollLeft(tableContainer.scrollLeft());
            });
        });


        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true
        });

        //$(".floating-container").floating();
      

        $('.datepicker').datepicker()
            .on('changeDate',
                function(e) {
                    showErrorMessageBelowCtrl('datetimepickerEstimationStartDate', 'please select start date', false);
                    showErrorMessageBelowCtrl('datetimepickerEstimationEndDate', 'please select end date', false);

                    var planStartDate = $("#datetimepickerEstimationStartDate").val();
                    var planEndDate = $("#datetimepickerEstimationEndDate").val();

                    if (planStartDate.length <= 0) {
                        showErrorMessageBelowCtrl('datetimepickerEstimationStartDate', 'please select start date', true);
                    } else {
                        showErrorMessageBelowCtrl('datetimepickerEstimationStartDate', 'please select start date', false);
                    }

                    if (planEndDate.length <= 0) {
                        showErrorMessageBelowCtrl('datetimepickerEstimationEndDate', 'please select end date', true);
                    } else {
                        showErrorMessageBelowCtrl('datetimepickerEstimationEndDate', 'please select end date', false);
                    }
                });

        var rowIdx = 0;
        var storeItemDetails;
        var storeUsersWithDepartmentName;
        var tableOpen = 1;

        var filelist = [];
        var formData;
        var approverPriorityIndex = 101;
        $(document).ready(function() {

            $(document).on('click',
                '#clearbtn',
                function() {

                    $("#form")[0].reset();
                });

            $('.procurementApprovalDiv').hide();
            $("#totalPriceDiv").hide();


            //rich text editor configuration
            $('#textEditorEstimation').summernote({
                placeholder: 'Estimation Details',
                tabsize: 2,
                height: 300,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear']],
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ol', 'ul', 'paragraph', 'height']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['undo', 'redo', 'fullscreen', 'codeview', 'help']]
                ]
            });


            $('#textEditorEstimation').summernote('disable');
            getParticularsFromDb(0);
            getDepartmentsForDropDownFrmDb();


            //$('.autoSuggestionSelect').css('width', '100%');
            //$(".autoSuggestionSelect").select2({});


            var estimationId = $("#estimateId").val();
            var selectValue = $("#approvalForDropDown").val();

            var formatter = new Intl.NumberFormat('en-IN',
                {
                    style: 'currency',
                    currency: 'BDT'
                });

            var totalPriceWithoutItemTable = $('#totalPriceText').val();
            var formatedtotalPriceWithoutItemTable = formatter.format(totalPriceWithoutItemTable);
            $('#totalPriceText').val(formatedtotalPriceWithoutItemTable);

            var totalPrice = $('#sumOfTotalPrice').text();
            var formatedtotalPrice = formatter.format(totalPrice);
            $('#sumOfTotalPriceShow').text(formatedtotalPrice);

            getUserDept();
            loadEstimation(estimationId);

            loadSummariesOfThisEstimation(estimationId);
            loadEstimationDetails(estimationId);
            //loadEstimateApprovers(estimationId);

            


            //when thana changes
            $('#tbody').on('change',
                '.particularTableThana',
                function() {
                    $("#validationMsgOnThana").hide();
                });

            //keyup event on findTotalPrice classes
            $('#tbody').on('keyup',
                '.findTotalPrice',
                function() {
                    var child = $(this).closest('tr').nextAll();
                    var rowTrackId = child.prevObject.attr("id").slice(1);
                    calculateTotalPrice(rowTrackId);
                });
            //
            $('#tbody').on('keyup',
                '.itemUnitPrice',
                function() {
                    var child = $(this).closest('tr').nextAll();
                    var rowTrackId = child.prevObject.attr("id").slice(1);
                    calculateTotalPrice(rowTrackId);
                });


            function getUserDept() {
                var sessionUserDept = {};
                $.ajax({
                    type: "POST",
                    url: "/User/GetUserByUserId",
                    data: "{}",
                    success: function(data) {
                        var sessionUserDept = data;
                        //console.log(sessionUserDept.isCRA);
                        ;
                    }
                });
                return sessionUserDept.isCRA;

            }

            function loadEstimation(value) {
                $.ajax({
                    type: "GET",
                    url: "/Estimation/GetEstimationInfobyId?estimationId=" + value,
                    data: "{}",
                    success: function(data) {
                        var estimation = data.estimation;
                        $("#subjectTextId").val(estimation.estimationSubject);
                        $("#datetimepickerEstimationEndDate").val(estimation.estimationPlanEndDate.slice(0, 10));
                        $("#datetimepickerEstimationStartDate").val(estimation.estimationPlanStartDate.slice(0, 10));
                    }
                });
            }

            function loadProcurementApprovalEstimate(value) {
                $.ajax({
                    type: "GET",
                    url: "/Estimation/GetProcurementApprovalEstimationInfobyEstimateId?estimationId=" + value,
                    data: "{}",
                    success: function(data) {
                        // console.log(data);

                        $("#paReferenceNumberTextId").val(data.paReferenceNo);
                        $("#titleOfPRorRFQTextId").val(data.titleOfPRorRFQ);
                        $("#RFQReferNoTextId").val(data.rfqReferenceNo);
                        $("#PRReferenceNoTextId").val(data.prReferenceNo);
                        $("#nameAndCellRequesterTextId").val(data.nameOfRequester);
                        //$('#deptOrDivTextId option[value=' + data.departmentId + ']').attr('selected', 'selected');
                        $('#deptOrDivTextId').val(data.departmentId);
                        $("#RFQProcessTextId").val(data.rfqProcess);
                        $("#sourcingMethodTextId").val(data.sourcingMethod);
                        $("#nameSupplierTextId").val(data.nameOfRecommendedSupplier);
                        $("#purchaseValueTextId").val(data.purchaseValue);
                        $("#savingAmountTextId").val(data.savingAmount);
                        //$('#savingTypeDropDown option[value=' + data.savingType + ']').attr('selected', 'selected');
                        $("#savingTypeDropDown option").filter(function() {
                            return $(this).text() == data.savingType;
                        }).prop('selected', true);
                    }
                });
            }
            function loadSummariesOfThisEstimation(value) {
                var formatter = new Intl.NumberFormat('en-IN',
                    {
                        style: 'currency',
                        currency: 'BDT'
                    });

                $.ajax({
                    type: "GET",
                    url: "/DepartmentWiseSummaryOfBudgetEstimation/LoadDepartmentWiseSummaryForASettledEstimationWithBudgetData?estimationId=" + value,
                    data: "{}",
                    success: function (data) {
                        var deptSummary = data;
                        console.log(deptSummary);
                        let tTotalCost = 0;
                        let totalBudgetExclueScm = 0;
                        let tTotalBudget = 0;
                        let tTotalDeviation = 0;

                        let rowDepartmentWiseSummaryTableIndex = 1;
                        for (var i = 0; i < deptSummary.length; i++) {

                            var deviation = 0;
                            var percentage = 0;
                            //if (parseFloat(deptSummary[i].totalCost) > parseFloat(deptSummary[i].totalBudget)) {
                            deviation = parseFloat(deptSummary[i].totalBudget) -  parseFloat(deptSummary[i].totalCost);
                            var divide = parseFloat(deptSummary[i].totalBudget) / parseFloat(deptSummary[i].totalCost);
                                percentage = parseFloat(divide) * 100;
                                tTotalDeviation += deviation;
                            //}
                            tTotalCost += deptSummary[i].totalCost;
                            tTotalBudget += deptSummary[i].totalBudget;

                            if (Number(deptSummary[i].departmentId) != 41) {
                                totalBudgetExclueScm += deptSummary[i].totalBudget;
                            }
                            if (Number(deptSummary[i].departmentId) == 41) {
                                $('#tDepartSummarybody').append(
                                    `<tr class="deletedDepartmentRow" style="color:#B2BEB5" id="RowDepartmentSummary${rowDepartmentWiseSummaryTableIndex}">
                                                <td lass="text-left">
                                                    <span id="nameDepartmentId${rowDepartmentWiseSummaryTableIndex}"
                                                        class="departmentWiserSummaryDepartmentColumn"
                                                        >` +
                                    deptSummary[i].departmentName +
                                    `</span>
                                                </td>
                                                <td id="idDepartmentId${rowDepartmentWiseSummaryTableIndex}" class="departmentSummaryDeptId" hidden>` +
                                    deptSummary[i].departmentId +
                                    `</td>
                                                <td class="text-right">
                                                    <span id="totalPriceDepartmentId${rowDepartmentWiseSummaryTableIndex}"
                                                        class="departmentWiserSummaryTablePriceColumn" hidden>` +
                                    deptSummary[i].totalBudget +
                                    `</span>
                                                    <span >` +
                                    formatter.format(deptSummary[i].totalBudget) +
                                    `</span>
                                                </td>
                                                <td class="text-right">
                                                    <span id="totalcostDepartmentId${rowDepartmentWiseSummaryTableIndex}"
                                                        class="departmentWiserSummaryTablePriceColumn" hidden>` +
                                    deptSummary[i].totalCost +
                                    `</span>
                                                    <span >` +
                                    formatter.format(deptSummary[i].totalCost) +
                                    `</span>
                                                </td>
                                                <td class="text-right">
                                                    <span >` +
                                    formatter.format(deviation) +
                                    `</span>
                                                </td>
                                                <td class="text-right">
                                                    <span >` +
                                    percentage.toFixed(2) +
                                    ` % </span>
                                                </td>
                                            </tr>`
                                );
                            } else {
                                $('#tDepartSummarybody').append(
                                    `<tr class="deletedDepartmentRow" id="RowDepartmentSummary${rowDepartmentWiseSummaryTableIndex}">
                                                <td lass="text-left">
                                                    <span id="nameDepartmentId${rowDepartmentWiseSummaryTableIndex}"
                                                        class="departmentWiserSummaryDepartmentColumn"
                                                        style="color:chocolate">` +
                                    deptSummary[i].departmentName +
                                    `</span>
                                                </td>
                                                <td id="idDepartmentId${rowDepartmentWiseSummaryTableIndex}" class="departmentSummaryDeptId" hidden>` +
                                    deptSummary[i].departmentId +
                                    `</td>
                                                <td class="text-right">
                                                    <span id="totalPriceDepartmentId${rowDepartmentWiseSummaryTableIndex}"
                                                        class="departmentWiserSummaryTablePriceColumn" hidden>` +
                                    deptSummary[i].totalBudget +
                                    `</span>
                                                    <span style="color:chocolate">` +
                                    formatter.format(deptSummary[i].totalBudget) +
                                    `</span>
                                                </td>
                                                <td class="text-right">
                                                    <span id="totalcostDepartmentId${rowDepartmentWiseSummaryTableIndex}"
                                                        class="departmentWiserSummaryTablePriceColumn" hidden>` +
                                    deptSummary[i].totalCost +
                                    `</span>
                                                    <span style="color:chocolate">` +
                                    formatter.format(deptSummary[i].totalCost) +
                                    `</span>
                                                </td>
                                                <td class="text-right">
                                                    <span style="color:chocolate">` +
                                    formatter.format(deviation) +
                                    `</span>
                                                </td>
                                                <td class="text-right">
                                                    <span style="color:chocolate">` +
                                    percentage.toFixed(2) +
                                    ` % </span>
                                                </td>
                                            </tr>`
                                );
                            }


                            rowDepartmentWiseSummaryTableIndex++
                        }
                        $('#tDepartSummarybody').append(
                            `<tr class="deletedParticularRow" >
                                                <td lass="text-left">
                                                    <span style="color: #23098B ">Grand Total(<span style="color: blue ">Exclude SCM</span>)</span>
                                         
                                                </td>
                                                <td class="text-right">
                                                    
                                                    <span style="color: #23098B ">` +
                            formatter.format(tTotalBudget) + `(<span style="color: #B2BEB5; ">` + formatter.format(totalBudgetExclueScm) + `</span>)
                                </span>
                                                </td>
                                                <td class="text-right">
                                                    
                                                    <span style="color: #23098B ">` +
                            formatter.format(tTotalCost) +
                            `</span>
                                                </td>
                                                <td class="text-right">
                                                    <span style="color: #23098B">` +
                            formatter.format(tTotalDeviation) +
                            `</span>
                                                </td>
                                                <td class="text-right">
                                                    
                                                </td>
                                            </tr>`
                        );
                    }
                });
                $.ajax({
                    type: "GET",
                    url: "/ParticularWiseSummary/GetParticularSummaryForASettledEstimationWithBudgetData?estimationId=" + value,
                    data: "{}",
                    success: function (data) {
                        let partiSummary = data;
                        let rowParticularWiseSummaryTableIndex = 1;
                        let tTotalCost = 0;
                        let tTotalBudget = 0;
                        let tTotalDeviation = 0;
                        for (var i = 0; i < partiSummary.length; i++) {
                            var deviation = 0;
                            var percentage = 0;
                            //if (parseFloat(partiSummary[i].totalCost) > parseFloat(partiSummary[i].totalBudget)) {
                            deviation = parseFloat(partiSummary[i].totalBudget) - parseFloat(partiSummary[i].totalCost);
                                var divide = parseFloat(partiSummary[i].totalBudget)/ parseFloat(partiSummary[i].totalCost) ;
                                percentage = parseFloat(divide) * 100;
                                tTotalDeviation += deviation;
                            //}
                            tTotalCost += partiSummary[i].totalCost;
                            tTotalBudget += partiSummary[i].totalBudget;

                            $('#tPartiSummarybody').append(
                                `<tr class="deletedParticularRow" id="RowParticularSummary${rowParticularWiseSummaryTableIndex}">
                                                <td lass="text-left">
                                                    <span id="nameParticularId${rowParticularWiseSummaryTableIndex}"
                                                        style="color:chocolate">` +
                                partiSummary[i].particularName +
                                `</span>
                                                <td id="idParticularId${rowParticularWiseSummaryTableIndex}" class="particularSummarypartiId" hidden>` +
                                partiSummary[i].particularId +
                                `</td>
                                                </td>
                                                <td class="text-right">
                                                    <span id="totalPriceParticularId${rowParticularWiseSummaryTableIndex}" hidden>` +
                                partiSummary[i].totalBudget +
                                `</span>
                                                    <span style="color:chocolate">` +
                                formatter.format(partiSummary[i].totalBudget) +
                                `</span>
                                                </td>
                                                <td class="text-right">
                                                    <span id="totalcostParticularId${rowParticularWiseSummaryTableIndex}" hidden>` +
                                partiSummary[i].totalCost +
                                `</span>
                                                    <span style="color:chocolate">` +
                                formatter.format(partiSummary[i].totalCost) +
                                `</span>
                                                </td>
                                                <td class="text-right">
                                                    <span style="color:chocolate">` +
                                formatter.format(deviation) +
                                `</span>
                                                </td>
                                                <td class="text-right">
                                                    <span style="color:chocolate">` +
                                percentage.toFixed(2) +
                                ` % </span>
                                                </td>
                                            </tr>`
                            );
                            rowParticularWiseSummaryTableIndex++;
                        }
                        $('#tPartiSummarybody').append(
                            `<tr class="deletedParticularRow" id="RowParticularSummary${rowParticularWiseSummaryTableIndex}">
                                                <td lass="text-left">
                                                    <span id="nameParticularId${rowParticularWiseSummaryTableIndex}"
                                                        style="color: #23098B">Grand Total(Exclued SCM)</span>
                                         
                                                </td>
                                                <td class="text-right">
                                                    
                                                    <span style="color: #23098B">` +
                            formatter.format(tTotalBudget) +
                            `</span>
                                                </td>
                                                <td class="text-right">
                                                    
                                                    <span style="color: #23098B">` +
                            formatter.format(tTotalCost) +
                            `</span>
                                                </td>
                                                <td class="text-right">
                                                    <span style="color: #23098B">` +
                            formatter.format(tTotalDeviation) +
                            `</span>
                                                </td>
                                                <td class="text-right">

                                                </td>
                                            </tr>`
                        );
                    }
                });
            }

            //settleActualQuantity

            function getSumOfTotalSettlementQuantity() {
                var sum = 0;

                $('.particularItemsAndDetailsTable tr').each(function (a, b) {

                    var totalQuantity = $('.settleActualQuantity', b).val();
             

                    if (!isNaN(totalQuantity) && totalQuantity.length > 0) {
                        sum += parseFloat(totalQuantity);
                        console.log('sum of total cost ');

                    }

                });


                $("#sumOfTotalQuantitySettlement").text(new Intl.NumberFormat().format(sum));
                //var formatter = new Intl.NumberFormat('en-IN',
                //    {
                //        style: 'currency',
                //        currency: 'BDT'
                //    });
                $('#sumOfTotalQuantitySettlement').text(new Intl.NumberFormat().format(sum));

            }
            function getSumOfTotalSettlementCost() {
                var sum = 0;

                $('.particularItemsAndDetailsTable tr').each(function (a, b) {

                    var totalPrice = $('.alreadySettleCost', b).val();
                    console.log('totalPrice');
                    console.log(totalPrice);
                    
                    if (!isNaN(totalPrice) && totalPrice.length > 0) {
                        sum += parseFloat(totalPrice);
                        console.log('sum of total cost ');

                    }

                });


                $("#sumOfTotalPriceSettlement").text(sum.toFixed(2));
                var formatter = new Intl.NumberFormat('en-IN',
                    {
                        style: 'currency',
                        currency: 'BDT'
                    });
                $('#sumOfTotalPriceSettlement').text(formatter.format(sum.toFixed(2)));

            }

            function loadEstimationDetails(value) {
                var formatter = new Intl.NumberFormat('en-IN');
                console.log('settleItems ......zzz method called.');
                $.ajax({
                    type: "GET",
                    url: "/SettlementItem/GetSettlementItemsByEstimateId?estiId=" + value,
                    data: "{}",
                    success: function(data) {
                        var details = data;
                        if (details.length < 1) {
                            // console.log("No Items");
                            $("#AddParticularSection").hide();
                            $("#totalPriceDiv").show(0);
                            tableOpen = 0;
                        } else {
                            for (var i = 0; i < details.length; i++) {
                                console.log(details);

                                var deptId = details[i].departmentId;
                                var deptName = details[i].departmentName;
                                var formatedTotalPrice = formatter.format(details[i].totalPrice);
                                //console.log('check ....');
                                // console.log(details.quantityRequired);
                                if (Number(details[i].quantityRequired) > 0) {
                                    $('#tbody').append(`
                                                            <tr id="R${++rowIdx}"  >
                                                                <td>&nbsp;</td>
                                                                <td class="estimateSettleItemId" hidden>
                                                                ` +
                                        details[i].estimateSettleItemId +
                                        `
                                                                </td>
                                                                <td>
                                                                    ` +
                                        details[i].particular +
                                        `
                                                                </td>
                                                                <td>
                                                                    ` +
                                        details[i].itemCategory +
                                        ` 
                                                                </td>
                                                                <td>
                                                                    <span style="color:blue;font-weight:bold">` +
                                        details[i].itemName +
                                        `</span>
                                                                </td>
                                                                <td>
                                                                    <span style="color:blue;font-weight:bold">` +
                                        details[i].itemCode +
                                        `</span>
                                                                </td>
                                                                <td>
                                                                    <span style="color:blue;font-weight:bold">` +
                                        details[i].itemUnit +
                                        `</span>
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="findTotalPrice nomuct singleRowFindTotalPrice${rowIdx}" style="width:80px"
                                                                                    id="NoOfMaUTCaTextId${rowIdx}" name="indexMAU"
                                                                                        value="` +
                                        details[i].noOfMachineAndUsagesAndTeamAndCar +
                                        `" disabled />
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="onlyNumber findTotalPrice nodut singleRowFindTotalPrice${rowIdx}" style="width:80px"
                                                                                  id="NoOfDTUTextId${rowIdx}" value="` +
                                        details[i].noOfDayAndTotalUnit +
                                        `" disabled />
                                                                </td>
                                                                <td>
                                                                     <input type="text" class="onlyNumber findTotalPrice rqt singleRowFindTotalPrice${rowIdx}" style="width:80px"
                                                                                  id="requiredQuantityTextId${rowIdx}" value="` +
                                        details[i].quantityRequired +
                                        `" disabled />
                                                                </td>
                                                                <td>
                                                                     <input type="text" class="form-control-sm itemUnitPrice numbersOnly" id="unitPriceTextId${rowIdx}" value="` +
                                        details[i].unitPrice +
                                        `" style="width:100px" disabled />
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="onlyNumber findTotalPrice nodut singleRowFindTotalPrice${rowIdx}" style="width:80px"
                                                                                   id="totalPriceBudget${rowIdx}" value="` +
                                        details[i].totalPrice +
                                        `" disabled />
                                                                                   </td>  
                                                                <td>` +
                                        deptName +
                                        `</td><td>` +
                                        details[i].districtName +
                                        `
                                                                        <td>` +
                                        details[i].thanaName +
                                        `
                                                                        <td>` +
                                        details[i].areaType +
                                        `

                                                                <td>
                                                                    <input type="text" class="onlyNumber findTotalPrice settleActualQuantity rqt singleRowFindTotalPrice${rowIdx}" style="width:80px"
                                                                                    id="settleActualQuantityTextId${rowIdx}" value="` +
                                        details[i].settleActualQuantity +
                                        `" disabled /> 
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="onlyNumber findTotalPrice alreadySettleCost nodut singleRowFindTotalPrice${rowIdx}" style="width:80px"
                                                                                    id="alreadySettleCost${rowIdx}" value="` +
                                        details[i].alreadySettle +
                                        `" disabled />
                                                                </td>
                                                                <td class="text-center"><button type="button" title="Settlement History" class='btn btn-info itemDetails' id='`
                                        + details[i].estimateSettleItemId +`'><i class='fa fa-history'></i></button></td>
                                        </td>
                                                                
                                                            </tr>`);

                                } else {
                                     $('#tbody').append(`
                                                            <tr id="R${++rowIdx}" class="newAddedRowColor" >
                                                                <td>&nbsp;</td>
                                                                <td class="estimateSettleItemId" hidden>
                                                                ` +
                                        details[i].estimateSettleItemId +
                                        `
                                                                </td>
                                                                <td>
                                                                    ` +
                                        details[i].particular +
                                        `
                                                                </td>
                                                                <td>
                                                                    ` +
                                        details[i].itemCategory +
                                        ` 
                                                                </td>
                                                                <td>
                                                                    <span style="color:blue;font-weight:bold">` +
                                        details[i].itemName +
                                        `</span>
                                                                </td>
                                                                <td>
                                                                    <span style="color:blue;font-weight:bold">` +
                                        details[i].itemCode +
                                        `</span>
                                                                </td>
                                                                <td>
                                                                    <span style="color:blue;font-weight:bold">` +
                                        details[i].itemUnit +
                                        `</span>
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="findTotalPrice nomuct singleRowFindTotalPrice${rowIdx}" style="width:80px"
                                                                                    id="NoOfMaUTCaTextId${rowIdx}" name="indexMAU"
                                                                                        value="` +
                                        'N/A' +
                                        `" disabled />
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="onlyNumber findTotalPrice nodut singleRowFindTotalPrice${rowIdx}" style="width:80px"
                                                                                  id="NoOfDTUTextId${rowIdx}" value="` +
                                        'N/A' +
                                        `" disabled />
                                                                </td>
                                                                <td>
                                                                     <input type="text" class="onlyNumber findTotalPrice rqt singleRowFindTotalPrice${rowIdx}" style="width:80px"
                                                                                  id="requiredQuantityTextId${rowIdx}" value="` +
                                        'N/A' +
                                        `" disabled />
                                                                </td>
                                                                <td>
                                                                     <input type="text" class="form-control-sm itemUnitPrice numbersOnly" id="unitPriceTextId${rowIdx}" value="` +
                                        'N/A' +
                                        `" style="width:100px" disabled />
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="onlyNumber findTotalPrice nodut singleRowFindTotalPrice${rowIdx}" style="width:80px"
                                                                                   id="totalPriceBudget${rowIdx}" value="` +
                                        'N/A' +
                                        `" disabled />
                                                                                   </td>  
                                                                <td>` +
                                        deptName +
                                        `</td><td>` +
                                        details[i].districtName +
                                        `
                                                                        <td>` +
                                        details[i].thanaName +
                                        `
                                                                        <td>` +
                                        details[i].areaType +
                                        `

                                                                <td>
                                                                    <input type="text" class="onlyNumber findTotalPrice settleActualQuantity rqt singleRowFindTotalPrice${rowIdx}" style="width:80px"
                                                                                    id="settleActualQuantityTextId${rowIdx}" value="` +
                                        details[i].settleActualQuantity +
                                        `" disabled /> 
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="onlyNumber findTotalPrice alreadySettleCost nodut singleRowFindTotalPrice${rowIdx}" style="width:80px"
                                                                                    id="alreadySettleCost${rowIdx}" value="` +
                                        details[i].alreadySettle +
                                        `" disabled />
                                                                </td>
                                                                <td class="text-center" colspan="2">
                              
                           <button type="button" title="Settlement History" class='btn btn-info itemDetails' id='`
                                        + details[i].estimateSettleItemId +`'><i class='fa fa-history'></i></button></td>
                                        </td>
                                                            </tr>`);
                                }


                            }
                            getSumOfTotalSettlementCost();

                            getSumOfTotalSettlementQuantity();
                        }
                    }
                });
            }

              $('#AddParticularSection').on('click', '.itemDetails', function () {

                var clickedBtnID = $(this).attr('id');
                var estimationId = $("#estimateId").val();
                console.log('Button click of the particular ... settlement');
                $.ajax({
                    type: "GET",
                    url: "/BudgetMemo/LoadSettledItemDetails?estimateId=" + estimationId + "&settleitemId=" + clickedBtnID,
                    data: "{}",
                    success: function (data) {
                        var details = data;
                        console.log(details);
                        $("#modalItemDetails").find("tr:gt(0)").remove();
                        if (details.length < 1) {
                            console.log("No Items");
                            $('#settleItemDetail').append(`<tr><td colspan="8">No Item Details Available</td></tr>`);
                        }
                        else {
                            for (var i = 0; i < details.length; i++) {
                                var serial = i + 1;
                                $('#settleItemDetail').append(`<tr>
                                    <td>`+ serial +`</td>
                                    <td>` + details[i].particularName + `</td>
                                    <td>` + details[i].itemCategoryName + `</td>
                                    <td>` + details[i].itemName + `</td>
                                    <td>` + details[i].actualUnitPrice + `</td>
                                    <td>` + details[i].actualQuantity + `</td>
                                    <td>` + details[i].actualTotalPrice + `</td>
                                    <td>` + details[i].remarks + `</td>
                                </tr>`);
                            }


                        }
                    }
                });

                $('#MemoItemDetailModal').modal('show');
            });
        });
    </script>
}