@model AMS.Models.ServiceModels.BudgetEstimate.SingleEstimationWithTypeResponse
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@using AMS.Models.DomainModels
@inject AMS.Services.Managers.Contracts.ISessionManager _sessionManager
@{
    UserEntity user = await _sessionManager.GetUser();
}
<style>
    select, option {
        width: 200px;
    }

    #TableAprroverList tbody {
        counter-reset: serial-number;
    }

        #TableAprroverList tbody td:first-child:before {
            counter-increment: serial-number;
            content: counter(serial-number);
        }

    #TableAprroverFeedBackList tbody {
        counter-reset: serial-number;
    }

        #TableAprroverFeedBackList tbody td:first-child:before {
            counter-increment: serial-number;
            content: counter(serial-number);
        }

    #particularItemsDetails tbody {
        counter-reset: serial-number;
    }

        #particularItemsDetails tbody td:first-child:before {
            counter-increment: serial-number;
            content: counter(serial-number);
        }

    .outer {
        display: flex;
        overflow-x: auto;
    }

    .inner {
        flex: 0 0 25%;
       
    }
    #doublescroll
    {
      overflow: auto; overflow-y: hidden; 
    }
    #doublescroll p
    {
      margin: 0; 
      padding: 1em; 
      white-space: nowrap; 
    }
</style>

<div class="hiddenElements">
    <input id="estimateId"
           type="hidden"
           value="@Model.Estimation.EstimateId" />
</div>
<div class="container-fluid">
    <form id="form">
        <div class="card border-secondary mb-4">
            <div class="card-header hideShow">
                <b>View Estimate Budget</b>
                <a id="btnDownloadExcelReport"
                   style="margin-left :5px;"
                   href="/ReportGenarator/SingleEstimateReport?id=@Model.Estimation.EstimateId"
                   class="btn btn-info float-right">
                    <span class="icon text-gray-100"  >
                        <i class="fas fa-file-excel"></i>
                    </span>
                </a>

                <a id="btnDownloadPdfReport" href="/ReportGenarator/SinglePdfEstimateReportV2?id=@Model.Estimation.EstimateId" class="btn btn-info float-right">
                    <span class="icon text-gray-100">
                        <i class="fas fa-file-pdf"></i>
                    </span>
                </a>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="form-group required row">
                        <label for="approvalForDropDown" class="col-sm-2 col-form-label-sm control-label">Approval For</label>
                        <div class="col-sm-4">
                            <select class="form-control" aria-label=".form-select-sm example" id="approvalForDropDown" disabled>
                                <option value="@Model.Estimation.EstimationTypeId" selected>@Model.Estimation.EstimationTypeName</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="IdentificationTextId" class="col-sm-2 col-form-label-sm control-label">Identification</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="IdentificationTextId" value="@Model.Estimation.EstimationIdentifier" disabled />
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="subjectTextId" class="col-sm-2 col-form-label-sm control-label">Subject</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="subjectTextId" disabled />
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="card secondary mb-4 procurementApprovalDiv">
            <div class="card-header hideShow"><b>Background</b></div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="form-group required row">
                        <label for="paReferenceNumberTextId" class="col-sm-2 col-form-label-sm control-label">PA. Reference No.</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="paReferenceNumberTextId" disabled />
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="titleOfPRorRFQTextId" class="col-sm-2 col-form-label-sm control-label">Title of the PR/RFQ</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="titleOfPRorRFQTextId" disabled />
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="RFQReferNoTextId" class="col-sm-2 col-form-label-sm control-label">RFQ Reference No.</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="RFQReferNoTextId" disabled />
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="PRReferenceNoTextId" class="col-sm-2 col-form-label-sm control-label">PR Reference No.</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="PRReferenceNoTextId" disabled />
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="NameAndCellRequesterTextId" class="col-sm-2 col-form-label-sm control-label">Name and Cell No. of Requester</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nameAndCellRequesterTextId" disabled />
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="deptOrDivTextId" class="col-sm-2 col-form-label-sm control-label">Department/Division</label>
                        <div class="col-sm-10">
                            @*<input type="text" class="form-control" id="" required />*@
                            <select class="form-control" aria-label=".form-select-sm" id="deptOrDivTextId" disabled>
                                <option value="-1" selected>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="RFQProcessTextId" class="col-sm-2 col-form-label-sm control-label">RFQ Process</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="RFQProcessTextId" disabled />
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="sourcingMethodTextId" class="col-sm-2 col-form-label-sm control-label">Sourcing Method</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sourcingMethodTextId" disabled />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card secondary mb-4 procurementApprovalDiv">
            <div class="card-header hideShow"><b>Award Recommandation</b></div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="form-group required row">
                        <label for="nameSupplierTextId" class="col-sm-2 col-form-label-sm control-label">Name of the Recommended Supplier</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nameSupplierTextId" disabled />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="purchaseValueTextId" class="col-sm-2 col-form-label-sm">Purchase Value</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="purchaseValueTextId" style="height:200px;" aria-label="With textarea" disabled></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="savingAmountTextId" class="col-sm-2 col-form-label-sm">Saving Amount</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="savingAmountTextId" style="height:200px;" aria-label="With textarea" disabled></textarea>
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="savingTypeDropDown" class="col-sm-2 col-form-label-sm control-label">Saving Type</label>
                        <div class="col-sm-4">
                            <select class="form-control" aria-label=".form-select-sm example" id="savingTypeDropDown" disabled>
                                <option value="None">Select</option>
                                <option value="CostAvoidance">Cost Avoidance</option>
                                <option value="CostReduction">Cost Reduction</option>
                                <option value="na">N/A</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-secondary mb-4">
            <div class="card-header hideShow"><b>Budget Descriptions</b></div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="form-group row">
                        <label for="objectiveTextId" class="col-sm-2 col-form-label-sm">Objective</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="objectiveTextId" aria-label="With textarea" style="height:200px;" disabled>@Model.Estimation.EstimationObjective</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="textEditorEstimation" class="col-sm-2 col-form-label-sm">Details</label>
                        <div class="col-sm-10">
                            <div id="doublescroll" class="">@Html.Raw(@Model.Estimation.EstimationDetails)</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label-sm">Plan Date</label>
                        <div class="col-sm-4">
                            <label for="datetimepickerEstimationStartDate" class="col-form-label-sm control-label">Start</label>
                            <input readonly="readonly" @*type="datetime-local"*@ id="datetimepickerEstimationStartDate" class="form-control datepicker" disabled />
                        </div>
                        <div class="col-sm-4">
                            <label for="datetimepickerEstimationEndDate" class="col-form-label-sm control-label">End</label>
                            <input readonly="readonly" @*type="datetime-local"*@ id="datetimepickerEstimationEndDate" class="form-control datepicker" disabled />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="estimationfiles" class="col-sm-2 col-form-label-sm">Attachments</label>
                        <div class="col-sm-10 col-md-10 table-responsive">
                            <table class="table table-sm">
                                <tr id="attachmentsTable"></tr>
                            </table>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="creatortext" class="col-sm-2 col-form-label-sm control-label">Created By</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="creatortext" value="@Model.Estimation.CreateorFullName" disabled />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="creationDateTxt" class="col-sm-2 col-form-label-sm control-label">Creation Time</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="creationDateTxt" value="@Model.Estimation.CreatedDate.ToString("f")" disabled />
                        </div>
                    </div>
                    <div class="form-group row" id="totalPriceDiv">

                        <div class="col-md-6">
                           @* <div class="form-group required row">
                                <label for="currencyTypeDropDown" class="col-sm-4 col-form-label-sm control-label">Currency Type</label>
                                <div class="col-sm-8">
                                    <select class="form-control" aria-label=".form-select-sm example" id="currencyTypeDropDown" disabled>
                                    </select>
                                </div>
                            </div>*@
                            <div class="row">
                                <label for="totalPriceText" class="col-sm-4 col-form-label-sm control-label">Total Price</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control numbersOnly" id="totalPriceText" value="@Model.Estimation.EstimaionTotalPrice" disabled />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <label for="totalPrice_remarks" class="col-md-2 col-form-label-sm control-label"> Remarks</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" id="total_price_remarks" aria-label="With textarea" disabled="disabled"> @Model.Estimation.TotalPriceRemarks</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-secondary mb-4" id="AddParticularSection">
            <div class="card-header hideShow"><b>Particular Items and Details</b></div>
            <div class="card-body">
                <div id="AddParticularSection">
                    <div class="container-fluid">
                        <div class="table-responsive" id="particularItemTableId">
                            <table class="table table-responsive-md table-hover table-bordered particularItemsAndDetailsTable" id="particularItemsDetails">
                                <thead style="position: sticky;top: 0" class="thead-dark">
                                    <tr>
                                        <th class="header" scope="col">#</th>
                                        <th class="header" scope="col">Particular@*<hr />Item Category<hr />Item*@</th>
                                        @*<th scope="col" style="width:200px">Item Category</th>
        <th scope="col" style="width:200px">Item</th>*@
                                        <th class="header" scope="col">Item Description@*<hr />Unit*@</th>
                                        @*<th scope="col">Unit</th>*@
                                        <th class="header" scope="col">Quantity@*No. Of Machine/ Usages/Team/Car<hr />No. Of Day/ Total Unit<hr />Required Quantity*@</th>
                                        @*<th scope="col">No. Of Day /Total Unit</th>
        <th scope="col">Required Quantity</th>*@
                                        <th class="header" scope="col">Unit Price</th>
                                        <th class="header" scope="col">Total Price (TK.)</th>
                                        <th class="header" scope="col">Department</th>
                                        <th class="header" scope="col">Location@*District<hr />Thana<hr />Area Type*@</th>
                                        @*<th scope="col">Thana</th>
        <th scope="col">Area Type</th>*@
                                        <th class="header" scope="col">Remarks</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody" style="text-align:left">
                                </tbody>
                                <tfoot align="right">
                                    <tr>
                                        @*<td colspan="4"><span id="validationMsgOnParticular" style="color:red"></span></td>*@
                                        <td id="sumOfTotalPrice" hidden>@Model.Estimation.EstimaionTotalPrice</td>
                                        <td colspan="6" style="font-weight:bold;" id="sumOfTotalPriceShow"></td>
                                        <td><span id="validationMsgOnDepartment" style="color:red"></span></td>
                                        <td colspan="2"><span id="validationMsgOnThana" style="color:red"></span></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <button class="btn btn-md btn-primary" id="addBtn" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                    <br />
                    <div class="container-fluid">
                        <div class="card border-secondary mb-4">
                            <div class="card-header"><b>Budget Summary View</b></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm">
                                        <h6 style="text-align: center;">Department Wise Summary</h6>
                                        <div class="table-responsive">
                                            <table class="table table-sm table-hover table-bordered departmentWiseSummaryTable"
                                                   id="TableDepartmentWishSummary" style="float:left">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th class="text-left" scope="col">Departments</th>
                                                        <th class="text-right" scope="col">Total Price (TK.)</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tDepartSummarybody" style="text-align:left">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <h6 style="text-align: center;">Particular Wise Summary</h6>
                                        <div class="table-responsive">
                                            <table class="table table-sm table-hover table-bordered particularWiseSummaryTable"
                                                   id="TableParticularWishSummary" style="float:left">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th class="text-left" scope="col">Particulars</th>
                                                        <th class="text-right" scope="col">Total Price (TK.)</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tPartiSummarybody" style="text-align:left">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="card border-secondary mb-4">
            <div class="card-header hideShow"><b>Approver Workflow Design </b></div>
            <div class="card-body">
                <div class="card border-secondary mb-4">
                    <div class="card-header"><b>Approver List </b></div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <span id="app_err-container"></span>
                            <div class="table-responsive">
                                <table class="table table-sm table-hover table-bordered" id="TableAprroverList">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th class="text-center" scope="col">Approver Name</th>
                                            @*<th class="text-center" scope="col">Approver Priority</th>*@
                                            <th class="text-center" scope="col">Approver Type</th>
                                            <th class="text-center" scope="col">Approver Department</th>
                                            <th class="text-center" scope="col">Expected Time</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tApproverbody" style="text-align:left">
                                        <tr style="background-color:khaki;">
                                            <td>&nbsp;</td>
                                            <td class="text-left">@Model.Estimation.CreateorFullName</td>
                                            <td class="text-left">Creator</td>
                                            <td class="text-left">@Model.Estimation.CreatorDepartment</td>
                                            <td class="text-left"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="card border-secondary mb-4" id="divApproverRemarksList">
            <div class="card-header hideShow"><b>Approver Remarks </b></div>
            <div class="card-body">
                <div class="card border-secondary mb-4">
                    <div class="card-header"><b>Feedback List </b></div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <span id="app_err-container"></span>
                            <div class="table-responsive">
                                <table class="table table-sm table-hover table-bordered" id="TableAprroverFeedBackList">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th class="text-center" scope="col">Approver</th>
                                            <th class="text-center" scope="col">Status</th>
                                            <th class="text-center" scope="col">Feedback Date</th>
                                            <th class="text-center" scope="col">Feedback</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tApproverRemarksbody" style="text-align:left">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts{
    <script src="~/js/AjaxCall/GetDataFromDbForBudetEstimationPage.js"></script>
    <script>
        var rowIdx = 0;
        var storeItemDetails;
        var storeUsersWithDepartmentName;
        var tableOpen = 1;
        var formData;
        $(document).ready(function () {
            $('.procurementApprovalDiv').hide();
            $("#totalPriceDiv").hide();
            $("#addBtn").hide();

            var estimationId = $("#estimateId").val();
            var selectValue = $("#approvalForDropDown").val();

            var formatter = new Intl.NumberFormat('en-IN', {
                style: 'currency',
                currency: 'BDT'
            });

            var totalPriceWithoutItemTable = $('#totalPriceText').val();
            $('#totalPriceText').val(totalPriceWithoutItemTable);

            var totalPrice = $('#sumOfTotalPrice').text();
            var formatedtotalPrice = formatter.format(totalPrice);
            $('#sumOfTotalPriceShow').text(formatedtotalPrice);

            let estimateTypeValue = $("#approvalForDropDown").children("option:selected").val();
            getCurrencyTypeFromDbBasedOnEstimationTypeAndDropdownName("CurrencyType", estimateTypeValue);
            loadEstimation(estimationId);
            loadAttachments(estimationId);
            getDepartmentsForDropDownFrmDb();
            if (selectValue == 7 || selectValue == 8) {
               
                    setTimeout(function () {
                    $('.procurementApprovalDiv').show();
                    loadProcurementApprovalEstimate(estimationId);
                }, 1300);
                
            }

            loadEstimationDetails(estimationId);
            loadEstimateApprovers(estimationId);
            loadSummariesOfThisEstimation(estimationId);
            loadEstimateApproverRemarkList(estimationId);

            //function getUserDept() {
            //    var sessionUserDept = {};
            //    $.ajax({
            //        type: "POST",
            //        url: "/User/GetUserByUserId",
            //        data: "{}",
            //        success: function (data) {
            //            var sessionUserDept = data;
            //            console.log(sessionUserDept.isCRA);
            //            ;
            //        }
            //    });
            //    return sessionUserDept.isCRA;

            //}
            function loadEstimation(value) {
                $.ajax({
                    type: "GET",
                    url: "/Estimation/GetEstimationInfobyId?estimationId=" + value,
                    data: "{}",
                    success: function (data) {
                        var estimation = data.estimation;
                        $("#subjectTextId").val(estimation.estimationSubject);
                        $("#datetimepickerEstimationEndDate").val(estimation.estimationPlanEndDate.slice(0, 10));
                        $("#datetimepickerEstimationStartDate").val(estimation.estimationPlanStartDate.slice(0, 10));
                        setTimeout(function () {

                            $('#totalPriceText').val(estimation.estimaionTotalPrice.toLocaleString() + ' ' + estimation.currency);
                            //$('#currencyTypeDropDown').val(estimation.currencyType).trigger("change");
                        }, 500);
                    }
                });
            }
            function loadProcurementApprovalEstimate(value) {
                $.ajax({
                    type: "GET",
                    url: "/Estimation/GetProcurementApprovalEstimationInfobyEstimateId?estimationId=" + value,
                    data: "{}",
                    success: function (data) {
                        console.log(data);
                        
                        $("#paReferenceNumberTextId").val(data.paReferenceNo);
                        $("#titleOfPRorRFQTextId").val(data.titleOfPRorRFQ);
                        $("#RFQReferNoTextId").val(data.rfqReferenceNo);
                        $("#PRReferenceNoTextId").val(data.prReferenceNo);
                        $("#nameAndCellRequesterTextId").val(data.nameOfRequester);
                        $(`#deptOrDivTextId option[value='${data.departmentId}']`).prop('selected', true);
                        $('#deptOrDivTextId').val(data.departmentId);
                        $("#RFQProcessTextId").val(data.rfqProcess);
                        $("#sourcingMethodTextId").val(data.sourcingMethod);
                        $("#nameSupplierTextId").val(data.nameOfRecommendedSupplier);
                        $("#purchaseValueTextId").val(data.purchaseValue);
                        $("#savingAmountTextId").val(data.savingAmount);
                        //$('#savingTypeDropDown option[value=' + data.savingType + ']').attr('selected', 'selected');
                        //$("#savingTypeDropDown option").filter(function () {
                        //    return $(this).text() == data.savingType;
                        //}).prop('selected', true);

                        $('#savingTypeDropDown option[value=' + data.savingType + ']').attr('selected', 'selected');
                        $('#savingTypeDropDown').trigger('change');
                    }
                });
            }
            function loadAttachments(value) {
                $.ajax({
                    type: "GET",
                    url: "/BudgetEstimation/LoadEstimateAttachmentsByEstimateId?estimateId=" + value,
                    data: "{}",
                    success: function (data) {
                        let attachment = data;
                        for (var i = 0; i < attachment.length; i++) {
                            var str = attachment[i].url;

                            let index = str.indexOf('\\uploadedFiles\\NewFolder');
                            var res = str.substring(index);
                            console.log(res);

                            $('#attachmentsTable').append(
                                `<td><a href="` + res + `" download>` + attachment[i].fileName + `</a></td>`
                            );
                        }
                    }
                });
            }
            function loadEstimationDetails(value) {
                var formatter = new Intl.NumberFormat('en-IN');
                $.ajax({
                    type: "GET",
                    url: "/DraftedBudgeEstimation/GetAllEstimationDetailsByEstimate?estiId=" + value,
                    data: "{}",
                    success: function (data) {
                        var details = data;
                        if (details.length < 1) {
                            console.log("No Items");
                            $("#AddParticularSection").hide();
                            $("#totalPriceDiv").show(0);
                            tableOpen = 0;
                        }
                        else {

                            for (var i = 0; i < details.length; i++) {
                                var deptId = details[i].departmentId;
                                var deptName = details[i].departmentName;
                                var formatedPrice = formatter.format(details[i].totalPrice);

                                $('#tbody').append(`<tr id="R${++rowIdx}">
                                        <td>&nbsp;</td>
                                        <td width="50%">
                                            Particular :` + details[i].particular + `
                                            <hr />Item Category: `+ details[i].itemCategory + ` 
                                            <hr />Item: <span style="color:blue;font-weight:bold">` + details[i].itemName + `</span>
                                        </td>    
                                        <td>Item Code: ` + details[i].itemCode + `
                                            <hr />Item Unit: ` + details[i].itemUnit + `
                                        </td>                                     
                                        <td>
                                            No.Of Mach./Usages/ Team/Car:<input type="text" class="findTotalPrice nomuct singleRowFindTotalPrice${rowIdx}" style="width:50px"
                                                id="NoOfMaUTCaTextId${rowIdx}" name="indexMAU"
                                                    value="` + details[i].noOfMachineAndUsagesAndTeamAndCar + `" disabled /> <hr />
                                            No.Of Day/ Total Unit:<input type="text" class="onlyNumber findTotalPrice nodut singleRowFindTotalPrice${rowIdx}" style="width:50px"
                                                id="NoOfDTUTextId${rowIdx}" value="` + details[i].noOfDayAndTotalUnit + `" disabled /> <hr />
                                            Req.Quantity: <input type="text" class="onlyNumber findTotalPrice rqt singleRowFindTotalPrice${rowIdx}" style="width:50px"
                                                id="requiredQuantityTextId${rowIdx}" value="` + details[i].quantityRequired + `" disabled /> <hr />
                                        </td>
                                        <td><input type="text" class="form-control-sm itemUnitPrice numbersOnly" id="unitPriceTextId${rowIdx}" value="` + details[i].unitPrice + `" style="width:100px" disabled /></td>
                                        <td class="form-control-sm totalPriceColumn" id="TotalPriceTextId${rowIdx}" style="color:chocolate" hidden>` + details[i].totalPrice + `</td>
                                        <td class="form-control-sm" id="TotalPriceFormateTextId${rowIdx}" style="text-align:right; color:chocolate">` + formatedPrice + `</td>
                                        <td>` + deptName + `</td>
                                        <td>District: `+ details[i].districtName + ` <hr />
                                            Thana: ` + details[i].thanaName + ` <hr />
                                            Area Type: ` + details[i].areaType + `
                                        </td>
                                        <td colspan="2">
                                            <span>` + details[i].remarks + `</span>
                                        </td>
                                    </tr>`);
                            }
                        }
                        
                    }
                });
            }
            function loadEstimateApprovers(value) {
                
                $.ajax({
                    type: "GET",
                    url: "/DraftedBudgeEstimation/GetAllApproverByEstimate?estiId=" + value,
                    data: "{}",
                    success: function (data) {
                        var approvers = data;
                        console.log(approvers);

                        var statusTag = "";
                        for (var i = 0; i < approvers.length; i++) {
                            var expectedDate = "";
                            if (approvers[i].approverRoleId == 3)
                            {
                                statusTag = "<span class='w3-tag w3-purple'>Informed</span>";
                            }
                            if (approvers[i].approverRoleId == 1 || approvers[i].approverRoleId == 2) {
                                if (approvers[i].approverStatus == "2") {
                                    statusTag = "<span class='w3-tag w3-yellow'>Pending</span>";
                                }
                                else if (approvers[i].approverStatus == "100") {
                                    statusTag = "<span class='w3-tag w3-green'>Approved</span>";
                                }
                                else if (approvers[i].approverStatus == "-404") {
                                    statusTag = "<span class='w3-tag w3-deep-orange'>Rollbacked</span>";
                                }
                                else if (approvers[i].approverStatus == "-500") {
                                    statusTag = "<span class='w3-tag w3-red'>Rejected</span>";
                                }
                                var d = new Date(approvers[i].approverPlanDate);
                                expectedDate = d.toDateString();
                            }
                            $('#tApproverbody').append(
                                `<tr>
                                    <td>&nbsp;</td>
                                    <td class="approverName">` + approvers[i].approverFullName + ` ` + statusTag +` </td>
                                    <td class="approverId" hidden>` + approvers[i].approverId + `</td>
                                    <td class="approverPriority" hidden>` + approvers[i].approverPriority + `</td>
                                    <td class="approverPriorityType" hidden>` + approvers[i].approverRoleId + `</td>
                                    <td class="approverPriorityTypeText">` + approvers[i].approverRoleName + `</td>
                                    <td class="approverDepartment">` + approvers[i].approverDepartment + `</td>
                                    <td class="approverDepartmentId" hidden>` + approvers[i].approverDepartmentId + `</td>
                                    <td class="approverExpectedTime">`+ expectedDate + `</td>
                                </tr>`);
                        }
                    }
                });
            }
            function loadSummariesOfThisEstimation(value) {
                var formatter = new Intl.NumberFormat('en-IN', {
                    style: 'currency',
                    currency: 'BDT'
                });
                
                $.ajax({
                    type: "GET",
                    url: "/DepartmentWiseSummaryOfBudgetEstimation/LoadDepartmentWiseSummaryDetailsByEstimationId?estimationId=" + value,
                    data: "{}",
                    success: function (data) {
                        var deptSummary = data;
                        console.log(deptSummary);
                        let rowDepartmentWiseSummaryTableIndex = 1;
                        for (var i = 0; i < deptSummary.length; i++) {
                            $('#tDepartSummarybody').append(
                                `<tr class="deletedDepartmentRow" id="RowDepartmentSummary${rowDepartmentWiseSummaryTableIndex}">
                                    <td lass="text-left">
                                        <span id="nameDepartmentId${rowDepartmentWiseSummaryTableIndex}"
                                            class="departmentWiserSummaryDepartmentColumn"
                                            style="color:chocolate">` + deptSummary[i].departmentName + `</span>
                                    </td>
                                    <td id="idDepartmentId${rowDepartmentWiseSummaryTableIndex}" class="departmentSummaryDeptId" hidden>` + deptSummary[i].departmentId + `</td>
                                    <td class="text-right">
                                        <span id="totalPriceDepartmentId${rowDepartmentWiseSummaryTableIndex}"
                                            class="departmentWiserSummaryTablePriceColumn" hidden>` + deptSummary[i].price + `</span>
                                        <span style="color:chocolate">` + formatter.format(deptSummary[i].price) + `</span>
                                    </td>
                                </tr>`
                            );
                            rowDepartmentWiseSummaryTableIndex++
                        }
                    }
                });
                $.ajax({
                    type: "GET",
                    url: "/ParticularWiseSummary/GetParticularSummaryDetails?estimationId=" + value,
                    data: "{}",
                    success: function (data) {
                        let partiSummary = data;
                        let rowParticularWiseSummaryTableIndex = 1;
                        for (var i = 0; i < partiSummary.length; i++) {
                            $('#tPartiSummarybody').append(
                                `<tr class="deletedParticularRow" id="RowParticularSummary${rowParticularWiseSummaryTableIndex}">
                                    <td lass="text-left">
                                        <span id="nameParticularId${rowParticularWiseSummaryTableIndex}"
                                            style="color:chocolate">` + partiSummary[i].particularName + `</span>
                                    <td id="idParticularId${rowParticularWiseSummaryTableIndex}" class="particularSummarypartiId" hidden>` + partiSummary[i].particularId + `</td>
                                    </td>
                                    <td class="text-right">
                                        <span id="totalPriceParticularId${rowParticularWiseSummaryTableIndex}" hidden>` + partiSummary[i].price + `</span>
                                        <span style="color:chocolate">` + formatter.format(partiSummary[i].price) + `</span>
                                    </td>
                                </tr>`
                            );
                            rowParticularWiseSummaryTableIndex++;
                        }
                    }
                });
            }
            function loadEstimateApproverRemarkList(value) {
                $.ajax({
                    type: "GET",
                    url: "/BudgetApprover/GetApproverRemarkList?estimationId=" + value,
                    data: "{}",
                    success: function (data) {
                        var approvers = data;
                        var commentIcon = '<i class="fa fa-quote-left fa-2x fa-pull-left" aria-hidden="true"></i>';
                        console.log(approvers);
                        if (approvers < 1) {
                            $("#divApproverRemarksList").hide();
                        }
                        for (var i = 0; i < approvers.length; i++) {
                            var d = new Date(approvers[i].feedBackDate);
                            if (approvers[i].estimateStatus == "-500") {
                                statusTag = "<span class='w3-tag w3-red'>Rejected</span>";
                            }
                            else if (approvers[i].estimateStatus == "100") {
                                statusTag = "<span class='w3-tag w3-green'>Approved</span>";
                            }
                            else if (approvers[i].estimateStatus == "-404") {
                                statusTag = "<span class='w3-tag w3-deep-orange'>Rollbacked</span>";
                            }
                            if (approvers[i].feedBack == null)
                                approvers[i].feedBack = 'N/A';
                            $('#tApproverRemarksbody').append(
                                `<tr>
                                    <td>&nbsp;</td>
                                    <td class="approverNameFromFeedBack">` + approvers[i].approverFullName +` </td>
                                    <td>`+ statusTag  +`</td>
                                    <td class="approverApprovalDate">`+ d.toDateString() + ` ` + d.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) + `</td>
                                    <td class="approverFeedbackFromFeedBack">` + commentIcon + approvers[i].feedBack + `</td>
                                </tr>`);
                        }
                    }
                });
            }

            function getCurrencyTypeFromDbBasedOnEstimationTypeAndDropdownName(dropdownName, estimationType) {

                var data = { "dropdownName": dropdownName, "estimateType": estimationType };
                $("#currencyTypeDropDown").html("");

                $.ajax({
                    type: "GET",
                    url: "/EstimateType/GetAllDropdownItemByDropdownNameAndEstimateType",
                    data: data,
                    success: function (data) {
                        console.log('Currency type dropdown ==============================');
                        console.log(data);
                        var currencyType = data;
                        for (var i = 0; i < currencyType.length; i++) {
                            if (Number(currencyType[i].isDefaultSelected) == 1) {
                                console.log('select dropdown');
                                var o = new Option(currencyType[i].name, currencyType[i].value, true, true);
                            } else {
                                var o = new Option(currencyType[i].name, currencyType[i].value);
                            }

                            $(o).html(currencyType[i].name);
                            $("#currencyTypeDropDown").append(o);
                        }
                    }
                });
            }
            function DoubleScroll(element) {
            var scrollbar = document.createElement('div');
            scrollbar.appendChild(document.createElement('div'));
            scrollbar.style.overflow = 'auto';
            scrollbar.style.overflowY = 'hidden';
            scrollbar.firstChild.style.width = element.scrollWidth+'px';
            scrollbar.firstChild.style.paddingTop = '1px';
            scrollbar.firstChild.appendChild(document.createTextNode('\xA0'));
            scrollbar.onscroll = function() {
                element.scrollLeft = scrollbar.scrollLeft;
            };
            element.onscroll = function() {
                scrollbar.scrollLeft = element.scrollLeft;
            };
            element.parentNode.insertBefore(scrollbar, element);
        }

        DoubleScroll(document.getElementById('doublescroll'));
        });
    </script>
}

